@font-face {
	src: url("../font/NotoSansKR-Light.otf"),
	url("../font/NotoSansKR-Bold.otf"),
	url("../font/NotoSansKR-Medium.otf"),
	url("../font/NotoSansCJKkr-Bold.otf"),
	 url("../font/NotoSansCJKkr-Regular.otf"),
	 url("../font/NotoSansKR-Regular.otf"),
	 url("../font/NanumSquareB.ttf"),
	 url("../font/NanumSquareR.ttf");
}

/** 기본 폰트 설정 */
* {
	-fx-font-family: "Noto Sans KR Regular";
	/*-fx-font-family: "Noto Sans CJK KR Regular";*/
	/*-fx-font-family: "Noto Sans KR Regular";*/
    /*-fx-font-family: "나눔스퀘어 Bold";*/
    /*-fx-font-family: "나눔스퀘어";*/
	/*-fx-focus-traversable: false;*/
}

Button {
	-fx-cursor:hand;
}

.scroll-pane {
	-fx-background-color: transparent;
	-fx-control-inner-background: transparent;
	-fx-background-insets: 0.0;
	-fx-padding: 0.0;
	-fx-background-radius : 5em;
}

.scroll-pane:focused {
	-fx-background-insets: 0.0;
}

.scroll-pane .corner {
	-fx-background-insets: 0.0;
}
.scroll-pane > .viewport {
	-fx-background-color: transparent;
}

.tab {
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
}

.text-field, .combo-box, .choice-box, .date-picker {
	-fx-background-color:#fff;
	-fx-background-insets:0;
	-fx-background-radius:3;
	-fx-border-radius :3;
	-fx-border-color:#c4c4c4;
	-fx-border-width:1;
	-fx-padding:0;
	-fx-font-size:12px;
	-fx-min-height:26;
	-fx-pref-height:26;
	-fx-max-height:26;
}

.text-area {
	-fx-background-color:#fff;
	-fx-background-insets:0;
	-fx-background-radius:0;
	-fx-border-radius : 0;
	-fx-border-color:#c4c4c4;
	-fx-border-width:1;
	-fx-font-size:12px;
}

.text-field {
	-fx-padding:3 5;
}

.text-field .text {
	-fx-font-size:12px;
}

.text-field, .text-area, .combo-box, .choice-box, .date-picker {
	-fx-focus-traversable: true;
}

.check-box .box {
	-fx-background-radius :3;
	-fx-border-radius :3;
	-fx-border-color:#c4c4c4;
}

.check-box .text {-fx-font-size:12px;}

.date-picker .date-picker-display-node {
	-fx-border-width:0;
	-fx-font-size:12px;
	-fx-padding:3 5;
}

.date-picker .arrow-button {
	-fx-background-color:#fff;
	-fx-background-insets:0;
}

.combo-box .list-cell, .combo-box .list-cell .text {
	-fx-padding:-2 5 0 5;
	-fx-font-size:12px;
	-fx-min-height:26px;
	-fx-pref-height:26px;
	-fx-max-height:26px;
}

.check-box .box {
	-fx-background-insets:0;
}

.alignment_top_left {-fx-alignment:top-left;}
.alignment_top_center {-fx-alignment:top-center;}
.alignment_top_rightr {-fx-alignment:top-right;}
.alignment_center_left {-fx-alignment:center-left;}
.alignment_center {-fx-alignment:center;}
.alignment_center_right {-fx-alignment:center-right;}
.alignment_bottom_center {-fx-alignment:bottom-center;}
.alignment_bottom_rightr {-fx-alignment:bottom-right;}

.weight_bold {-fx-font-weight:bold;}

.txt_red {-fx-text-fill:#e62a2a;}
.txt_blue {-fx-text-fill:#09929b;}
.txt_black {-fx-text-fill:#000;}
.txt_white {-fx-text-fill:#fff;}
.txt_yellow {-fx-text-fill:yellow;}
.txt_orange {-fx-text-fill:#eeb756;}
.txt_green {-fx-text-fill:#31B404;}
.txt_gray {-fx-text-fill:#8f979b;}
.txt_tiffany {-fx-text-fill:#47c8bc;}
.txt_gray_656565 {-fx-text-fill:#656565;}
.txt_gray_b1b1b1 {-fx-text-fill:#b1b1b1;}
.txt_green_49a952 {-fx-text-fill:#49a952;}

.font_size_8 {-fx-font-size:8;}
.font_size_9 {-fx-font-size:9;}
.font_size_10 {-fx-font-size:10;}
.font_size_11 {-fx-font-size:11;}
.font_size_12 {-fx-font-size:12;}
.font_size_13 {-fx-font-size:13;}
.font_size_14 {-fx-font-size:14;}
.font_size_15 {-fx-font-size:15;}
.font_size_16 {-fx-font-size:16;}
.font_size_18 {-fx-font-size:18;}
.font_size_20 {-fx-font-size:20;}
.font_size_24 {-fx-font-size:24;}

.bg_white {-fx-background-color:#fff;}
.bg_gray {-fx-background-color:#ececec;}
.bg_gray_f3 {-fx-background-color:#f3f3f3;}
.bg_efefef {-fx-background-color:#efefef;}

.brd_radius_1 {
	-fx-background-radius:1;
	-fx-border-radius:1;
}

.brd_radius_2 {
	-fx-background-radius:2;
	-fx-border-radius:2;
}

.brd_radius_3 {
	-fx-background-radius:3;
	-fx-border-radius:3;
}

.brd_radius_2 {
	-fx-background-radius:4;
	-fx-border-radius:4;
}

.brd_radius_5 {
	-fx-background-radius:5;
	-fx-border-radius:5;
}

.brd_radius_8 {
	-fx-background-radius:8;
	-fx-border-radius:8;
}

.brd_radius_9 {
	-fx-background-radius:9;
	-fx-border-radius:9;
}

.brd_gray {
	-fx-border-color:#c4c4c4;
	-fx-border-width:1;
}

.brd_dark_gray {
	-fx-border-color:#75848c;
	-fx-border-width:1;
}

/**
 * Button
 */
.btn_blue, .btn_blue_sm, .btn_blue_xs {
	-fx-background-insets:0;
	-fx-background-color: linear-gradient(#1a77bf, #064e8c);
	-fx-background-radius :3;
	-fx-border-radius :3;
	-fx-border-color:#064f8d;
	-fx-border-width:1;
	-fx-text-fill:#fff;
	-fx-font-weight:bold;
	-fx-padding:0;
	-fx-graphic-text-gap:0;
}
.btn_blue {
	-fx-font-size:14px;
}
.btn_blue_sm {
	-fx-font-size:13px;
	-fx-pref-height:26px;
}
.btn_blue_xs {
	-fx-font-size:12px;
	-fx-pref-height:19px;
}
.btn_blue:hover, .btn_blue_sm:hover, .btn_blue_xs:hover {
	-fx-background-color: linear-gradient(#064e8c, #1a77bf);
}

.btn_green, .btn_green_sm, .btn_green_xs {
	-fx-background-insets:0;
	-fx-background-color: linear-gradient(#68BC4B, #188413);
	-fx-background-radius :3;
	-fx-border-radius :3;
	-fx-border-color:#188413;
	-fx-border-width:1;
	-fx-text-fill:#fff;
	-fx-font-weight:bold;
	-fx-padding:0;
	-fx-graphic-text-gap:0;
}
.btn_green {
	-fx-font-size:14px;
}
.btn_green_sm {
	-fx-font-size:13px;
	-fx-pref-height:26px;
}
.btn_green_xs {
	-fx-font-size:12px;
	-fx-pref-height:19px;
}
.btn_green:hover, .btn_green_sm:hover, .btn_green_xs:hover {
	-fx-background-color: linear-gradient(#188413, #68BC4B);
}

.btn_red, .btn_red_sm, .btn_red_xs {
	-fx-background-insets:0;
	-fx-background-color: linear-gradient(#ff7e79, #dc4b33);
	-fx-background-radius :3;
	-fx-border-radius :3;
	-fx-border-color:#dc4b33;
	-fx-border-width:1;
	-fx-text-fill:#fff;
	-fx-font-weight:bold;
	-fx-padding:0;
	-fx-graphic-text-gap:0;
}
.btn_red {
	-fx-font-size:14px;
}
.btn_red_sm {
	-fx-font-size:13px;
	-fx-pref-height:26px;
}
.btn_red_xs {
	-fx-font-size:12px;
	-fx-pref-height:19px;
}
.btn_red:hover, .btn_red_sm:hover, .btn_red_xs:hover {
	-fx-background-color: linear-gradient(#dc4b33, #ff7e79);
}

.btn_orange, .btn_orange_sm, .btn_orange_xs {
	-fx-background-insets:0;
	-fx-background-color: linear-gradient(#f4C73C, #F39C12);
	-fx-background-radius :3;
	-fx-border-radius :3;
	-fx-border-color:#F39C12;
	-fx-border-width:1;
	-fx-text-fill:#fff;
	-fx-font-weight:bold;
	-fx-padding:0;
	-fx-graphic-text-gap:0;
}
.btn_orange {
	-fx-font-size:14px;
}
.btn_orange_sm {
	-fx-font-size:13px;
	-fx-pref-height:26px;
}
.btn_orange_xs {
	-fx-font-size:12px;
	-fx-pref-height:19px;
}
.btn_orange:hover, .btn_orange_sm:hover, .btn_orange_xs:hover {
	-fx-background-color: linear-gradient(#F39C12, #f4C73C);
}

.btn_gray, .btn_gray_sm, .btn_gray_xs {
	-fx-background-insets:0;
	-fx-background-color: linear-gradient(#fff, #cacaca);
	-fx-background-radius :3;
	-fx-border-radius :3;
	-fx-border-color:#9f9f9f;
	-fx-border-width:1;
	-fx-font-size:14px;
	-fx-text-fill:#000;
	-fx-font-weight:bold;
	-fx-padding:0;
	-fx-graphic-text-gap:0;
}
.btn_gray {
	-fx-font-size:14px;
}
.btn_gray_sm {
	-fx-font-size:13px;
	-fx-pref-height:26px;
}
.btn_gray_xs {
	-fx-font-size:12px;
	-fx-pref-height:19px;
}
.btn_gray:hover, .btn_gray_sm:hover, .btn_gray_xs:hover {
	-fx-background-color: linear-gradient(#cacaca, #fff);
}

.btn_cancel_normal {
	-fx-background-insets:0;
	-fx-background-color:#dc4b33;
	-fx-background-radius:2;
	-fx-border-radius:2;
	-fx-border-color:#dc4b33;
	-fx-border-width:1;
	-fx-text-fill:#fff;
	-fx-padding:-1 8 0 8;
	-fx-pref-height:18;
}

/**
 * Pagination CSS Start
 */
 .pagination {
 	-fx-page-information-visible:false;
 	-fx-tooltip-visible:false;
 }
.pagination>.pagination-control>.control-box>.left-arrow-button {
	-fx-background-color:none;
	-fx-background-image:url('../images/arrow_prev_on.png');
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-min-width: 50;
	-fx-pref-width: 50;
}

.pagination>.pagination-control>.control-box>.left-arrow-button>.left-arrow {
	-fx-background-color:none;
	-fx-shape:none;
}

.pagination>.pagination-control>.control-box>.left-arrow-button:disabled {
	-fx-background-image:url('../images/arrow_prev.png');
}

.pagination>.pagination-control>.control-box>.left-arrow-button:disabled>.left-arrow {
	-fx-background-color:none;
	-fx-shape:none;
}

.pagination>.pagination-control>.control-box>.number-button {
	-fx-background-color:none;
	-fx-padding:0;
	-fx-text-fill : black;
	-fx-cursor: hand;
}

.pagination>.pagination-control>.control-box>.number-button>.text {
	-fx-font-size:13px;
	-fx-text-fill:#656565;
	-fx-padding:0 10;
}

.pagination>.pagination-control>.control-box>.number-button:selected {
	-fx-background-color:none;
	-fx-padding:0;
}

.pagination>.pagination-control>.control-box>.number-button:selected>.text {
	-fx-font-size:14px;
	-fx-fill:#0469b0;
	-fx-font-weight:bold;
	-fx-padding:0 10;
}

.pagination>.pagination-control>.control-box>.right-arrow-button {
	-fx-background-color:none;
	-fx-background-image:url('../images/arrow_next_on.png');
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-min-width: 50;
	-fx-pref-width: 50;
}
.pagination>.pagination-control>.control-box>.right-arrow-button>.right-arrow {
	-fx-background-color:none;
	-fx-shape:none;
}

.pagination>.pagination-control>.control-box>.right-arrow-button:disabled {
	-fx-background-image:url('../images/arrow_next.png');
}
.pagination>.pagination-control>.control-box>.right-arrow-button:disabled>.right-arrow {
	-fx-background-color:none;
	-fx-shape:none;
}

/**
 * End Pagination CSS
 */

/** Base Table View CSS */
.table-view {
	-fx-background-color: #FFFFFF;
 	-fx-border-color:#FFFFFF;
 	-fx-border-width:0;
 	-fx-padding:0;
 	-fx-table-cell-border-color: transparent;
}

.table-view .column-header-background .nested-column-header .label{
	-fx-font-size:12px;
	-fx-font-weight:bold;
}

.table-view .column-header-background .filler {
 	-fx-background-color:#FFFFFF;
	-fx-border-color:#000000;
	-fx-border-width:0 0 0.5 0;
}

.table-view .column-header {
	-fx-pref-height:30;
	-fx-background-color: #ffffff;
	-fx-border-width : 0 0 0.5 0;
	-fx-border-color:#000000;
}

.table-row-cell {
	-fx-background-insets:0;
	-fx-background-color: -fx-table-cell-border-color, #FFFFFF;
    -fx-border-width : 0;
    -fx-font-size : 13;
}

.table-row-cell:empty {
    -fx-background-color : white;
}

.table-row-cell:hover{
    -fx-table-cell-border-color: transparent;
}

.table-row-cell:selected {
    -fx-table-cell-border-color: transparent;
	-fx-background-color : #999999;
}

.table-view .table-cell .label {
	-fx-text-fill:#656565;
	-fx-background-color : #FFFFFF;
	-fx-pref-height : 25;
}

.listHeader {
	-fx-border-color:#000;
	-fx-border-width:2 0 0 0;
	-fx-background-color:#75848c;
	-fx-text-fill:#fff;
}

/** Job Status Icon Label */
#jobStatus_NONE {
	-fx-min-height: 20;
	-fx-min-width: 80;
	-fx-alignment:center;
	-fx-background-color:#fff;
	-fx-background-radius:2;
	-fx-border-color:#c1c1c1;
	-fx-border-radius:2;
	-fx-text-fill:#656565;
	-fx-font-size:9;
	-fx-padding:0 10;
}

#jobStatus_QUEUED {
	-fx-min-height: 20;
	-fx-min-width: 80;
    -fx-alignment:center;
	-fx-background-image: url('../images/job_status_queued_animation.gif');
	-fx-background-repeat: no-repeat;
	-fx-background-position:6px 3px;
	-fx-background-color:#f4c73c;
	-fx-background-radius:2;
	-fx-border-color:#f4c73c;
	-fx-border-radius:2;
	-fx-text-fill:#fff;
	-fx-font-size:9;
	-fx-font-weight:bold;
	-fx-padding:0 10 0 21;
}

#jobStatus_RUNNING {
	-fx-min-height: 20;
	-fx-min-width: 80;
    -fx-alignment:center;
	-fx-background-image: url('../images/job_status_running_animation.gif');
	-fx-background-repeat: no-repeat;
	-fx-background-position:6px 3px;
	-fx-background-color:#68BC4B;
	-fx-background-radius:2;
	-fx-border-color:#68BC4B;
	-fx-border-radius:2;
	-fx-text-fill:#fff;
	-fx-font-size:9;
	-fx-font-weight:bold;
	-fx-padding:0 10 0 21;
}

#jobStatus_COMPLETE {
	-fx-min-height: 20;
	-fx-min-width: 80;
    -fx-alignment:center;
	-fx-background-color:#4b8dca;
	-fx-background-radius:2;
	-fx-border-color:#4b8dca;
	-fx-border-radius:2;
	-fx-text-fill:#fff;
	-fx-font-size:9;
	-fx-font-weight:bold;
	-fx-padding:0 10;
}

#jobStatus_FAIL {
	-fx-min-height: 20;
	-fx-min-width: 80;
    -fx-alignment:center;
	-fx-background-color:#ff7e79;
	-fx-background-radius:2;
	-fx-border-color:#ff7e79;
	-fx-border-radius:2;
	-fx-text-fill:#fff;
	-fx-font-size:9;
	-fx-font-weight:bold;
	-fx-padding:0 10;
}

/** Detail Job Status Icon Label */
#detail_jobStatus_NONE {
	-fx-min-height: 20;
	-fx-min-width: 80;
	-fx-alignment:center;
	-fx-background-color:#fff;
	-fx-background-radius:0 10 10 0;
	-fx-border-color:#c1c1c1;
	-fx-border-radius:0 10 10 0;
	-fx-text-fill:#656565;
	-fx-font-size:9;
	-fx-padding:0 10;
}

#detail_jobStatus_QUEUED {
	-fx-min-height: 20;
	-fx-min-width: 80;
    -fx-alignment:center;
	-fx-background-image: url('../images/job_status_queued_animation.gif');
	-fx-background-repeat: no-repeat;
	-fx-background-position:6px 3px;
	-fx-background-color:#f4c73c;
	-fx-background-radius:0 10 10 0;
	-fx-border-color:#f4c73c;
	-fx-border-radius:0 10 10 0;
	-fx-text-fill:#fff;
	-fx-font-size:9;
	-fx-font-weight:bold;
	-fx-padding:0 10 0 21;
}

#detail_jobStatus_RUNNING {
	-fx-min-height: 20;
	-fx-min-width: 80;
    -fx-alignment:center;
	-fx-background-image: url('../images/job_status_running_animation.gif');
	-fx-background-repeat: no-repeat;
	-fx-background-position:6px 3px;
	-fx-background-color:#68BC4B;
	-fx-background-radius:0 10 10 0;
	-fx-border-color:#68BC4B;
	-fx-border-radius:0 10 10 0;
	-fx-text-fill:#fff;
	-fx-font-size:9;
	-fx-font-weight:bold;
	-fx-padding:0 10 0 21;
}

#detail_jobStatus_COMPLETE {
	-fx-min-height: 20;
	-fx-min-width: 80;
    -fx-alignment:center;
	-fx-background-color:#4b8dca;
	-fx-background-radius:0 10 10 0;
	-fx-border-color:#4b8dca;
	-fx-border-radius:0 10 10 0;
	-fx-text-fill:#fff;
	-fx-font-size:9;
	-fx-font-weight:bold;
	-fx-padding:0 10;
}

#detail_jobStatus_FAIL {
	-fx-min-height: 20;
	-fx-min-width: 80;
    -fx-alignment:center;
	-fx-background-color:#ff7e79;
	-fx-background-radius:0 10 10 0;
	-fx-border-color:#ff7e79;
	-fx-border-radius:0 10 10 0;
	-fx-text-fill:#fff;
	-fx-font-size:9;
	-fx-font-weight:bold;
	-fx-padding:0 10;
}

#detail_complete_jobStatus_COMPLETE {
	-fx-min-height: 20;
	-fx-min-width: 80;
    -fx-alignment:center;
	-fx-background-color:#4b8dca;
	-fx-background-radius: 0;
	-fx-border-color:#4b8dca;
	-fx-border-radius: 0;
	-fx-text-fill:#fff;
	-fx-font-size:9;
	-fx-font-weight:bold;
	-fx-padding:0 10;
}

#detail_complete_jobStatus_NONE {
	-fx-min-height: 20;
	-fx-min-width: 80;
    -fx-alignment:center;
	-fx-background-color:transparent;
	-fx-background-radius:0;
	-fx-border-color:#4b8dca;
	-fx-border-radius:0;
	-fx-text-fill:#4b8dca;
	-fx-font-size:9;
	-fx-font-weight:bold;
	-fx-padding:0 10;
}

#detail_complete_jobStatus_FAIL {
	-fx-min-height: 20;
	-fx-min-width: 80;
    -fx-alignment:center;
	-fx-background-color:#ff7e79;
	-fx-background-radius:0;
	-fx-border-color:#ff7e79;
	-fx-border-radius:0;
	-fx-text-fill:#fff;
	-fx-font-size:9;
	-fx-font-weight:bold;
	-fx-padding:0 10;
}

/* ------------------------------------------------------ */

#jobStatus_sm_NONE {
	-fx-pref-height: 14;
	-fx-min-height: 14;
	-fx-background-color:#fff;
	-fx-background-radius:2;
	-fx-background-insets:0;
	-fx-border-color:#ff7e79;
	-fx-border-radius:2;
	-fx-text-fill:#656565;
	-fx-font-size:10;
	-fx-padding:-2 5 0 5;
}

#jobStatus_sm_QUEUED {
	-fx-pref-height: 14;
	-fx-min-height: 14;
	-fx-background-color:#f4c73c;
	-fx-background-radius:2;
	-fx-border-color:#f4c73c;
	-fx-border-radius:2;
	-fx-text-fill:#fff;
	-fx-font-size:10;
	-fx-padding:-2 5 0 5;
}

#jobStatus_sm_RUNNING {
	-fx-pref-height: 14;
	-fx-min-height: 14;
	-fx-background-color: #4b91e1;
	-fx-background-radius:2;
	-fx-background-insets:0;
	-fx-border-color: #4b91e1;
	-fx-border-radius:2;
	-fx-text-fill:#fff;
	-fx-font-size:10;
	-fx-padding:-2 5 0 5;
}

#jobStatus_sm_COMPLETE {
	-fx-pref-height: 14;
	-fx-min-height: 14;
	-fx-background-color:#1e2d87;
	-fx-background-radius:2;
	-fx-background-insets:0;
	-fx-border-color:#1e2d87;
	-fx-border-radius:2;
	-fx-text-fill:#fff;
	-fx-font-size:10;
	-fx-padding:-2 5 0 5;
}

#jobStatus_sm_FAIL {
	-fx-pref-height: 14;
	-fx-min-height: 14;
	-fx-background-color:#ff7e79;
	-fx-background-radius:2;
	-fx-background-insets:0;
	-fx-border-color:#ff7e79;
	-fx-border-radius:10;
	-fx-text-fill:#fff;
	-fx-font-size:10;
	-fx-padding:-2 5 0 5;
}

/** FASTQC */
.FASTQC_NONE {-fx-text-fill:#656565;}
.FASTQC_PASS {-fx-text-fill:#68BC4B;}
.FASTQC_RETURN {-fx-text-fill:#f4c73c;}
.FASTQC_WARNING {-fx-text-fill:#e62a2a;}
.FASTQC_FAIL {-fx-text-fill:#1F2D87;}

/** Flagging Icon CSS */
.prediction_none {
	-fx-border-color:#a6a6a6;
	-fx-background-color:#fff;
	-fx-border-width:1;
	-fx-border-radius:2;
	-fx-background-radius:2;
	-fx-font-size:12;
	-fx-font-weight:bold;
	-fx-text-fill:#656565;
	-fx-pref-width:20;
	-fx-text-alignment:center ;
	-fx-alignment:center;
}

.prediction_E {
	-fx-background-color: #5a64a5;
	-fx-border-width:0;
	-fx-background-radius:2;
	-fx-font-size:12;
	-fx-font-weight:bold;
	-fx-text-fill:#fff;
	-fx-pref-width:20;
	-fx-text-alignment:center ;
	-fx-alignment:center;
}

.prediction_D {
	-fx-background-color:#1F2D87;
	-fx-border-width:0;
	-fx-background-radius:2;
	-fx-font-size:12;
	-fx-font-weight:bold;
	-fx-text-fill:#fff;
	-fx-pref-width:20;
	-fx-text-alignment:center ;
	-fx-alignment:center;
}

.prediction_C {
	-fx-background-color:#70ACF5;
	-fx-border-width:0;
	-fx-background-radius:2;
	-fx-font-size:12;
	-fx-font-weight:bold;
	-fx-text-fill:#fff;
	-fx-pref-width:20;
	-fx-text-alignment:center ;
	-fx-alignment:center;
}

.prediction_B {
	-fx-background-color:#FF9482;
	-fx-border-width:0;
	-fx-background-radius:2;
	-fx-font-size:12;
	-fx-font-weight:bold;
	-fx-text-fill:#fff;
	-fx-pref-width:20;
	-fx-text-alignment:center ;
	-fx-alignment:center;
}

.prediction_A {
	-fx-background-color:#F6545C;
	-fx-background-radius:2;
	-fx-font-size:12;
	-fx-font-weight:bold;
	-fx-text-fill:#fff;
	-fx-pref-width:20;
	-fx-text-alignment:center ;
	-fx-alignment:center;
}


.reported {
	-fx-background-color:#c30d23;
	-fx-background-radius:2;
	-fx-font-size:12;
	-fx-font-weight:bold;
	-fx-text-fill:#fff;
	-fx-pref-width:20;
	-fx-text-alignment:center ;
	-fx-alignment:center;
}


.bullet_black {
	-fx-background-color:#000;
	-fx-border-color:#000;
	-fx-border-width:1;
	-fx-font-size:12;
	-fx-font-weight:bold;
	-fx-text-fill:#fff;
}

.bullet_gray {
	-fx-background-color:#a5adb2;
	-fx-border-color:#a5adb2;
	-fx-border-width:1;
	-fx-font-size:12;
	-fx-font-weight:bold;
	-fx-text-fill:#fff;
}

.bullet_green {
	-fx-background-color:#68BC4B;
	-fx-border-color:#68BC4B;
	-fx-border-width:1;
	-fx-font-size:12;
	-fx-font-weight:bold;
	-fx-text-fill:#fff;
}

.bullet_blue {
	-fx-background-color:#3db8a9;
	-fx-border-color:#3db8a9;
	-fx-border-width:1;
	-fx-font-size:12;
	-fx-font-weight:bold;
	-fx-text-fill:#fff;
}

.bullet_red {
	-fx-background-color:#ff7e79;
	-fx-border-color:#ff7e79;
	-fx-border-width:1;
	-fx-font-size:12;
	-fx-font-weight:bold;
	-fx-text-fill:#fff;
}

.bullet_orange {
	-fx-background-color:#f4c73c;
	-fx-border-color:#f4c73c;
	-fx-border-width:1;
	-fx-font-size:12;
	-fx-font-weight:bold;
	-fx-text-fill:#fff;
}

.pathogenic_none {
	-fx-border-width:0;
	-fx-background-radius:2;
	-fx-background-color:#a6a6a6;
	-fx-background-insets:0;
	-fx-text-fill:#fff;
	-fx-font-size:12;
	-fx-font-weight:bold;
	-fx-padding:0;
	-fx-min-width:20;
	-fx-pref-width:20;
	-fx-max-width:20;
	-fx-min-height:20;
	-fx-pref-height:20;
	-fx-max-height:20;
}

.pathogenic_1 {
	-fx-background-color: #5a64a5;
	-fx-border-width:0;
	-fx-background-radius:2;
	-fx-background-insets:0;
	-fx-text-fill:#fff;
	-fx-font-size:12;
	-fx-font-weight:bold;
	-fx-padding:0;
	-fx-min-width:20;
	-fx-pref-width:20;
	-fx-max-width:20;
	-fx-min-height:20;
	-fx-pref-height:20;
	-fx-max-height:20;
}

.pathogenic_2 {
	-fx-background-color:#1F2D87;
	-fx-border-width:0;
	-fx-background-radius:2;
	-fx-background-insets:0;
	-fx-text-fill:#fff;
	-fx-font-size:12;
	-fx-font-weight:bold;
	-fx-text-fill:#fff;
	-fx-padding:0;
	-fx-min-width:20;
	-fx-pref-width:20;
	-fx-max-width:20;
	-fx-min-height:20;
	-fx-pref-height:20;
	-fx-max-height:20;
}

.pathogenic_3 {
	-fx-background-color:#70ACF5;
	-fx-border-width:0;
	-fx-background-radius:2;
	-fx-background-insets:0;
	-fx-text-fill:#fff;
	-fx-font-size:12;
	-fx-font-weight:bold;
	-fx-text-fill:#fff;
	-fx-padding:0;
	-fx-min-width:20;
	-fx-pref-width:20;
	-fx-max-width:20;
	-fx-min-height:20;
	-fx-pref-height:20;
	-fx-max-height:20;
}

.pathogenic_4 {
	-fx-background-color:#FF9482;
	-fx-border-width:0;
	-fx-background-radius:2;
	-fx-background-insets:0;
	-fx-text-fill:#fff;
	-fx-font-size:12;
	-fx-font-weight:bold;
	-fx-text-fill:#fff;
	-fx-padding:0;
	-fx-min-width:20;
	-fx-pref-width:20;
	-fx-max-width:20;
	-fx-min-height:20;
	-fx-pref-height:20;
	-fx-max-height:20;
}

.pathogenic_5 {
	-fx-background-color:#F6545C;
	-fx-border-width:0;
	-fx-background-radius:2;
	-fx-background-insets:0;
	-fx-text-fill:#fff;
	-fx-font-size:12;
	-fx-font-weight:bold;
	-fx-text-fill:#fff;
	-fx-padding:0;
	-fx-min-width:20;
	-fx-pref-width:20;
	-fx-max-width:20;
	-fx-min-height:20;
	-fx-pref-height:20;
	-fx-max-height:20;
}


.tier_4 {
	-fx-background-color:#1F2D87;
	-fx-border-width:0;
	-fx-background-radius:2;
	-fx-background-insets:0;
	-fx-text-fill:#fff;
	-fx-font-size:12;
	-fx-font-weight:bold;
	-fx-text-fill:#fff;
	-fx-padding:0;
	-fx-min-width:20;
	-fx-pref-width:20;
	-fx-max-width:20;
	-fx-min-height:20;
	-fx-pref-height:20;
	-fx-max-height:20;
	-fx-alignment : center;
}

.tier_3 {
	-fx-background-color:#70ACF5;
	-fx-border-width:0;
	-fx-background-radius:2;
	-fx-background-insets:0;
	-fx-text-fill:#fff;
	-fx-font-size:12;
	-fx-font-weight:bold;
	-fx-text-fill:#fff;
	-fx-padding:0;
	-fx-min-width:20;
	-fx-pref-width:20;
	-fx-max-width:20;
	-fx-min-height:20;
	-fx-pref-height:20;
	-fx-max-height:20;
	-fx-alignment : center;
}

.tier_2 {
	-fx-background-color:#FF9482;
	-fx-border-width:0;
	-fx-background-radius:2;
	-fx-background-insets:0;
	-fx-text-fill:#fff;
	-fx-font-size:12;
	-fx-font-weight:bold;
	-fx-text-fill:#fff;
	-fx-padding:0;
	-fx-min-width:20;
	-fx-pref-width:20;
	-fx-max-width:20;
	-fx-min-height:20;
	-fx-pref-height:20;
	-fx-max-height:20;
	-fx-alignment : center;
}

.tier_1 {
	-fx-background-color:#F6545C;
	-fx-border-width:0;
	-fx-background-radius:2;
	-fx-background-insets:0;
	-fx-text-fill:#fff;
	-fx-font-size:12;
	-fx-font-weight:bold;
	-fx-text-fill:#fff;
	-fx-padding:0;
	-fx-min-width:20;
	-fx-pref-width:20;
	-fx-max-width:20;
	-fx-min-height:20;
	-fx-pref-height:20;
	-fx-max-height:20;
	-fx-alignment : center;
}

.h1 {
	-fx-font-size:24;
	-fx-pref-height:30;
}

.h2 {
	-fx-font-size:18;
	-fx-pref-height:24;
}
.btn_cancel {
	-fx-font-size:14;
	-fx-background-color:#AAAAAA;
	-fx-text-fill:#ffffff;
	-fx-font-weight:bold;
	-fx-min-width:85;
	-fx-pref-width:85;
	-fx-max-width:85;
	-fx-min-height:30;
	-fx-pref-height:30;
	-fx-max-height:30;
}

.btn_next {
	-fx-font-size:14;
	-fx-background-color:#FB4952;
	-fx-text-fill:#ffffff;
	-fx-font-weight:bold;
	-fx-min-width:85;
	-fx-pref-width:85;
	-fx-max-width:85;
	-fx-min-height:30;
	-fx-pref-height:30;
	-fx-max-height:30;
}
.btn_next:hover {
	-fx-background-color:#CF2730;
}
.btn_confirm {
	-fx-font-size:16;
	-fx-background-color:#FB4952;
	-fx-text-fill:#ffffff;
	-fx-font-weight:bold;
	-fx-min-width:85;
	-fx-pref-width:85;
	-fx-max-width:85;
	-fx-min-height:35;
	-fx-pref-height:35;
	-fx-max-height:35;
}
.btn_confirm:hover {
	-fx-background-color:#CF2730;
}
.btn_detail {
	-fx-font-size:11px;
	-fx-pref-height:25px;
	-fx-background-insets:0;
	-fx-background-color: #5DA4FB;
	-fx-background-radius :3;
	-fx-border-radius :3;
	-fx-border-color:#5DA4FB;
	-fx-border-width:1;
	-fx-text-fill:#fff;
	-fx-font-weight:bold;
	-fx-padding:0;
	-fx-graphic-text-gap:0;
}
.btn_detail:hover {
	-fx-background-color: #3C81D4;
}
.btn_addto_patiantdb {
	-fx-background-color: #60A6FB;
	-fx-pref-height:25;
	-fx-pref-width:125;
	-fx-text-fill:#ffffff;
	-fx-font-size:11;
}
.btn_addto_patiantdb:hover {
	-fx-background-color: #348DFA;
}
.btn_patient_search1 {
	-fx-background-color:#959595;
	-fx-pref-height:25;
	-fx-pref-width:80;
	-fx-text-fill:#ffffff;
	-fx-font-size:11;
}
.btn_patient_search1:hover {
	-fx-background-color:#8C8C8C;
}
.btn_create_draft_report {
	-fx-background-color:#49697B;
	-fx-pref-height:25;
	-fx-text-fill:#ffffff;
	-fx-font-size:11;
}
.btn_create_draft_report:hover {
	-fx-background-color:#446373;
}
.btn_create_final_report {
	-fx-background-color:#FB4952;
	-fx-pref-height:25;
	-fx-text-fill:#ffffff;
	-fx-font-size:11;
}
.btn_create_final_report:hover {
	-fx-background-color:#FB3741;
}
.btn_raw_data_download {
	-fx-background-color:#3E6B85;
	-fx-pref-height:25;
	-fx-text-fill:#ffffff;
	-fx-font-size:11;
}
.btn_raw_data_download:hover {
	-fx-background-color:#6C9DBB;
}
.btn_setting_save {
	-fx-background-color: #0D5E97;
	-fx-background-radius: 0;
	-fx-pref-height:35;
	-fx-text-fill:#ffffff;
}
.btn_setting_save:hover {
	//-fx-background-color:#0D5E97;
}
.btn_setting_close {
	-fx-background-color:#959595;
	-fx-background-radius : 0;
	-fx-pref-height:35;
	-fx-text-fill:#ffffff;
	-fx-font-size:11;
}
.btn_setting_close:hover {
	-fx-background-color:#8C8C8C;
}
.txt_support_label {
	-fx-font-size:13;
	-fx-text-fill:#263d5f;
}
.btn_choose {
	-fx-font-size:9;
	-fx-background-color:#AAAAAA;
	-fx-text-fill:#ffffff;
}
.btn_choose:hover {
	-fx-background-color:#CFACA5;
}
.progress-bar {
	-fx-accent: #73739B;
	-fx-background-insets:0;
	-fx-padding:0;
}

.progress-bar {
	-fx-background-radius: 0;
    -fx-background-color: #FFFFFF;
    -fx-opacity: 0.5;
}

.progress-bar > .bar {
	-fx-background-radius: 0;
	-fx-background-color: linear-gradient(to right, #273d5f, #42c0cb, #273d5f);
}

.progress-bar > .track {
	-fx-background-insets: 0;
	-fx-background-color : white;
    -fx-background-radius: 0;
}

.btn_workProgressCancel {
	-fx-font-size:12;
	-fx-background-color:#AAAAAA;
	-fx-text-fill:#ffffff;
	-fx-text-alignment:center ;
	-fx-alignment:center ;
	-fx-font-weight:bold;
	-fx-min-width:65;
	-fx-pref-width:65;
	-fx-max-width:65;
	-fx-min-height:25;
	-fx-pref-height:25;
	-fx-max-height:25;
}
.btn_refresh {
	-fx-background-color:#999999;
	-fx-border-width:0;
	-fx-background-radius:3;
	-fx-min-width:70;
	-fx-text-fill:#fff;
	-fx-font-weight:bold;
	-fx-font-size:11;
}
.btn_refresh:hover {
	-fx-background-color:#7C878B;
}

.red_line {
    -fx-border-color:#C20D22;
    -fx-border-width: 0 0 7 0;
}

.red_line_both {
    -fx-border-color:#C20D22;
    -fx-border-width: 7 0 7 0;
}

.font_color_white_bg_color_red {
    -fx-alignment : center;
    -fx-text-fill : white;
    -fx-background-color : #C20D22;
}

.right_white_border {
    -fx-border-width : 0 1 0 0;
    -fx-border-color : #FFFFFF;
}

.file_add_btn {
    -fx-background-color : white;
    -fx-background-radius : 5;
    -fx-border-color:#9e9e9e;
    -fx-border-radius: 5;
    -fx-border-width: 1 1 1 1;
    -fx-text-fill : black;
    -fx-min-height:25;
    -fx-pref-height:25;
    -fx-max-height:25;
}


.tier_four {
	-fx-background-color:#1F2D87;
	-fx-border-width:0;
	-fx-background-radius:2;
	-fx-background-insets:0;
	-fx-text-fill:#fff;
	-fx-font-size:12;
	-fx-font-weight:bold;
	-fx-text-fill:#fff;
	-fx-padding:0;
	-fx-min-width:20;
	-fx-pref-width:20;
	-fx-max-width:20;
	-fx-min-height:20;
	-fx-pref-height:20;
	-fx-max-height:20;
}

.tier_three {
	-fx-background-color:#70ACF5;
	-fx-border-width:0;
	-fx-background-radius:2;
	-fx-background-insets:0;
	-fx-text-fill:#fff;
	-fx-font-size:12;
	-fx-font-weight:bold;
	-fx-text-fill:#fff;
	-fx-padding:0;
	-fx-min-width:20;
	-fx-pref-width:20;
	-fx-max-width:20;
	-fx-min-height:20;
	-fx-pref-height:20;
	-fx-max-height:20;
}

.tier_two {
	-fx-background-color:#FF9482;
	-fx-border-width:0;
	-fx-background-radius:2;
	-fx-background-insets:0;
	-fx-text-fill:#fff;
	-fx-font-size:12;
	-fx-font-weight:bold;
	-fx-text-fill:#fff;
	-fx-padding:0;
	-fx-min-width:20;
	-fx-pref-width:20;
	-fx-max-width:20;
	-fx-min-height:20;
	-fx-pref-height:20;
	-fx-max-height:20;
}

.tier_one {
	-fx-background-color:#F6545C;
	-fx-border-width:0;
	-fx-background-radius:2;
	-fx-background-insets:0;
	-fx-text-fill:#fff;
	-fx-font-size:12;
	-fx-font-weight:bold;
	-fx-text-fill:#fff;
	-fx-padding:0;
	-fx-min-width:20;
	-fx-pref-width:20;
	-fx-max-width:20;
	-fx-min-height:20;
	-fx-pref-height:20;
	-fx-max-height:20;
}

.no_selected_sw_tier {
	-fx-border-color:#a6a6a6;
	-fx-background-color:#fff;
	-fx-border-width:1;
	-fx-border-radius:2;
	-fx-background-radius:2;
	-fx-font-size:12;
	-fx-font-weight:bold;
	-fx-text-fill:#656565;
	-fx-pref-width:20;
	-fx-text-alignment:center ;
	-fx-alignment:center;
}

.no_selected_user_tier {
	-fx-border-width:0;
	-fx-background-radius:2;
	-fx-background-color:#a6a6a6;
	-fx-background-insets:0;
	-fx-text-fill:#fff;
	-fx-font-size:12;
	-fx-font-weight:bold;
	-fx-padding:0;
	-fx-min-width:20;
	-fx-pref-width:20;
	-fx-max-width:20;
	-fx-min-height:20;
	-fx-pref-height:20;
	-fx-max-height:20;
}

.prediction_E_Selected {
	-fx-background-color:#5a64a5;
	-fx-border-width:0;
	-fx-background-radius:2;
	-fx-background-insets:0;
	-fx-text-fill:#fff;
	-fx-font-size:12;
	-fx-font-weight:bold;
	-fx-text-fill:#fff;
	-fx-padding:0;
	-fx-min-width:20;
	-fx-pref-width:20;
	-fx-max-width:20;
	-fx-min-height:20;
	-fx-pref-height:20;
	-fx-max-height:20;
}

.prediction_D_Selected {
	-fx-background-color:#1F2D87;
	-fx-border-width:0;
	-fx-background-radius:2;
	-fx-background-insets:0;
	-fx-text-fill:#fff;
	-fx-font-size:12;
	-fx-font-weight:bold;
	-fx-text-fill:#fff;
	-fx-padding:0;
	-fx-min-width:20;
	-fx-pref-width:20;
	-fx-max-width:20;
	-fx-min-height:20;
	-fx-pref-height:20;
	-fx-max-height:20;
}

.prediction_C_Selected {
	-fx-background-color:#70ACF5;
	-fx-border-width:0;
	-fx-background-radius:2;
	-fx-background-insets:0;
	-fx-text-fill:#fff;
	-fx-font-size:12;
	-fx-font-weight:bold;
	-fx-text-fill:#fff;
	-fx-padding:0;
	-fx-min-width:20;
	-fx-pref-width:20;
	-fx-max-width:20;
	-fx-min-height:20;
	-fx-pref-height:20;
	-fx-max-height:20;
}

.prediction_B_Selected {
	-fx-background-color:#FF9482;
	-fx-border-width:0;
	-fx-background-radius:2;
	-fx-background-insets:0;
	-fx-text-fill:#fff;
	-fx-font-size:12;
	-fx-font-weight:bold;
	-fx-text-fill:#fff;
	-fx-padding:0;
	-fx-min-width:20;
	-fx-pref-width:20;
	-fx-max-width:20;
	-fx-min-height:20;
	-fx-pref-height:20;
	-fx-max-height:20;
}

.prediction_A_Selected {
	-fx-background-color:#F6545C;
	-fx-border-width:0;
	-fx-background-radius:2;
	-fx-background-insets:0;
	-fx-text-fill:#fff;
	-fx-font-size:12;
	-fx-font-weight:bold;
	-fx-text-fill:#fff;
	-fx-padding:0;
	-fx-min-width:20;
	-fx-pref-width:20;
	-fx-max-width:20;
	-fx-min-height:20;
	-fx-pref-height:20;
	-fx-max-height:20;
}

.font_Sans_Regular {
    -fx-font-family : "Noto Sans CJK KR Regular";
}

.submitBtn {
    -fx-background-color : #263d5f;
    -fx-text-fill : #fff;
    -fx-background-radius : 0;
    -fx-alignment : center;
}

.cancelBtn {
    -fx-background-color : #999999;
    -fx-text-fill : #fff;
    -fx-background-radius : 0;
    -fx-alignment : center;
}


.queued_icon {
    -fx-background-color : #d8a60d;
    -fx-background-radius : 30;
    -fx-padding : -2 0 0 0;
    -fx-alignment : center;
    -fx-text-fill : white;
    -fx-pref-width : 17;
    -fx-pref-height : 17;
    -fx-min-width : 17;
    -fx-min-height : 17;
    -fx-font-size : 11;
}

.complete_icon {
    -fx-background-color : #229db8;
    -fx-background-radius : 30;
    -fx-padding : -1 0 0 -1;
    -fx-alignment : center;
    -fx-text-fill : white;
    -fx-pref-width : 17;
    -fx-pref-height : 17;
    -fx-min-width : 17;
    -fx-min-height : 17;
    -fx-text-size : 10;
}
.run_icon {
    -fx-background-color : #69b415;
    -fx-background-radius : 30;
    -fx-padding : -1 0 0 0;
    -fx-alignment : center;
    -fx-text-fill : white;
    -fx-pref-width : 17;
    -fx-pref-height : 17;
    -fx-min-width : 17;
    -fx-min-height : 17;
    -fx-text-size : 10;
}
.failed_icon {
    -fx-background-color : #FF0000;
    -fx-background-radius : 30;
    -fx-alignment : center;
    -fx-text-fill : white;
    -fx-pref-width : 17;
    -fx-pref-height : 17;
    -fx-min-width : 17;
    -fx-min-height : 17;
    -fx-text-size : 10;
}

.tools_icon {
    -fx-cursor:hand;
    -fx-graphic: url("../images/renewal/check_icon.png");
    -fx-pref-width : 16;
    -fx-pref-height : 16;
    -fx-min-width : 16;
    -fx-min-height : 16;
    /*-fx-background-color : #999999;
    -fx-background-radius : 30;
    -fx-padding : -1 -6 0 0;
    -fx-alignment : center;
    -fx-text-fill : white;
    -fx-pref-width : 17;
    -fx-pref-height : 17;
    -fx-min-width : 17;
    -fx-min-height : 17;
    -fx-text-size : 8;
    -fx-cursor:hand;*/
}

.total_icon {
    -fx-background-color : #adadad;
    -fx-background-radius : 30;
    -fx-alignment : center;
    -fx-text-fill : white;
    -fx-pref-width : 17;
    -fx-pref-height : 17;
    -fx-min-width : 17;
    -fx-min-height : 17;
    -fx-text-size : 10;
}
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
	-fx-background-color:white;
	-fx-border-color: derive(black,90%);
	-fx-background-radius: 5em;
	-fx-border-radius:5em;
}

/* The increment and decrement button CSS class of scrollbar */
.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color: white;
	-fx-background-radius: 0em;
	-fx-padding:0 0 10 0;

}

/* The increment and decrement button CSS class of scrollbar */
.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {

    -fx-background-color: white;
	-fx-background-radius: 0em;
	-fx-padding:0 10 0 0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
	-fx-shape: " ";
	-fx-padding:0;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color:derive(black,90%);
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 5em;

}

.font_gray {
    -fx-text-fill : #595959;
}

.radio-button .radio {
    -fx-border-width: 1px;
    -fx-border-color: #000;
    -fx-background-color: white;
    -fx-background-image: null;
    -fx-border-radius: 15px;
    -fx-padding: 2px;
}
.radio-button .radio:selected {
    -fx-background-color: white;
    -fx-background-image: null;
}
.radio-button -radio:armed {
    -fx-background-color: white;
    -fx-background-image: null;
}
.radio-button -radio:determinate {
    -fx-background-color: white;
    -fx-background-image: null;
}
.radio-button -radio:indeterminate {
    -fx-background-color: white;
    -fx-background-image: null;
}

.general_progress > .label {
    -fx-text-fill : #FFFFFF;
}