#runListHeaderGridPane, #sampleListHeaderGridPane {
	-fx-border-width:0;
	-fx-background-color:#f2f5fa;
	-fx-border-width : 1 0 1 0;
	-fx-border-color : #cbccce;
}

#runListHeaderGridPane .header, #sampleListHeaderGridPane .header {
	-fx-font-size:12;
	-fx-text-fill:#000;
	-fx-font-weight:bold;
	-fx-min-height:25;
	-fx-pref-height:25;
	-fx-max-height:25;
	-fx-padding:0 0 0 0;
}

.background_white {
    -fx-background-color : #fff;
}

.sample_header {
    -fx-background-color : #8f9fb9;
    -fx-text-fill : #fff;
}

.sample_list_label {
    -fx-background-color : #f7f7f7;
    -fx-text-fill : #fff;
}