TextFlow#information Text {
	-fx-fill:#656565;
	-fx-font-size:14;
	-fx-font-weight:bold;
}

TextFlow#information Text.panelTxt {
	-fx-fill:#F5525A;
	-fx-font-size:14;
	-fx-font-weight:bold;
}

Button#buttonUpload {
	-fx-background-image:url('../images/btn_run.png');
	-fx-background-color:none;
	-fx-background-repeat: no-repeat;
	-fx-background-image-repeat: no-repeat ;
	-fx-background-position: center;
	-fx-border-width:0;
	-fx-cursor:hand;
}


Button#buttonUpload:hover {
	-fx-background-image:url('../images/btn_run_on.png');
}

#runListHeaderGridPane, #sampleListHeaderGridPane {
	-fx-border-width:0;
	-fx-background-color:#C30D23;
}

#runListHeaderGridPane .header, #sampleListHeaderGridPane .header {
	-fx-font-size:12;
	-fx-text-fill:#fff;
	-fx-font-weight:bold;
	-fx-min-height:25;
	-fx-pref-height:25;
	-fx-max-height:25;
	-fx-padding:0 0 0 0;
	-fx-border-width : 0 1 0 0;
	-fx-border-color : white;
}

#listGrid {
	-fx-background-color:#fff;
}

#listGrid .column {
	-fx-padding:0;
	-fx-border-color:#d2d2d2;
	-fx-border-width:0 0 1 0;
}

#listGrid #jobArea {
	-fx-alignment:CENTER_LEFT;
}

#listGrid #jobArea #job {
	-fx-font-size:10;
	-fx-font-weight:bold;
	-fx-text-fill:#000;
	-fx-border-width:0;
	-fx-min-height:20;
    -fx-pref-height:20;
    -fx-max-height:20;
}

#listGrid #jobArea #submitted {
	-fx-font-size:8;
	-fx-text-fill:#848484;
	-fx-border-width:0;
	-fx-min-height:15;
    -fx-pref-height:15;
    -fx-max-height:15;
}

#listGrid #jobArea #started {
	-fx-font-size:8;
	-fx-text-fill:#848484;
	-fx-border-width:0;
	-fx-min-height:15;
    -fx-pref-height:15;
    -fx-max-height:15;
}

#listGrid #groupArea {
	-fx-alignment:CENTER_LEFT;
}

#listGrid #groupArea #refName {
	-fx-font-size:10;
	-fx-font-weight:bold;
	-fx-text-fill:#000;
	-fx-border-width:0;
	-fx-min-height:20;
    -fx-pref-height:20;
    -fx-max-height:20;
}
#listGrid #groupArea .label {
	-fx-font-size:8;
}

#listGrid #groupArea #sampleSource {
	-fx-alignment:center-left;
}

#listGrid #groupArea #sampleSource .label {
	-fx-font-size:8;
	-fx-text-fill:#656565;
}

#listGrid #groupArea #sampleSource .BLOOD {
	-fx-font-weight:bold;
	-fx-text-fill:#000;
	-fx-font-size:8;
}

#listGrid #groupArea #sampleSource .FFPE {
	-fx-font-weight:bold;
	-fx-text-fill:#000;
	-fx-font-size:8;
}

#listGrid #jobStatusArea {
	-fx-alignment:CENTER_LEFT;
}

#listGrid #jobStatusArea #statusIcon {
	-fx-alignment:CENTER_LEFT;
}

#listGrid #jobStatusArea .label#message {
	-fx-text-fill:#656565;
	-fx-padding:5 0 0 0;
}

#listGrid #assayTargetPlatformArea {
	-fx-alignment:CENTER_LEFT;
}

#listGrid #assayTargetPlatformArea #assayTarget {
	-fx-text-fill:#000;
	-fx-font-weight:bold;
}

#listGrid #assayTargetPlatformArea #platform {
	-fx-text-fill:#656565;
}

#listGrid #result_overview {
	-fx-alignment:CENTER;
}

#listGrid #result_overview .bullet_green {
	-fx-background-color:#5fa5fa;
	-fx-background-insets:0;
	-fx-background-radius:6;
	-fx-border-radius:6;
	-fx-border-color:#5fa5fa;
	-fx-border-width:1;
	-fx-padding:0;
	-fx-min-width:12;
	-fx-pref-width:12;
	-fx-max-width:12;
	-fx-min-height:12;
	-fx-pref-height:12;
	-fx-max-height:12;
}
#listGrid #result_overview .bullet_green:hover {
	-fx-background-color:#4b91e1;
	-fx-border-color:#4b91e1;
}

#listGrid #result_overview .bullet_red {
	-fx-background-color: #eb6464;
	-fx-background-insets:0;
	-fx-background-radius:6;
	-fx-border-radius:6;
	-fx-border-color: #eb6464;
	-fx-border-width:1;
	-fx-padding:0;
	-fx-min-width:12;
	-fx-pref-width:12;
	-fx-max-width:12;
	-fx-min-height:12;
	-fx-pref-height:12;
	-fx-max-height:12;
}
#listGrid #result_overview .bullet_red:hover {
	-fx-background-color:#f59191;
	-fx-border-color:#f59191;
}

#listGrid #qcArea {
	-fx-alignment:CENTER;
}

#listGrid #qcArea .label#pass {
	-fx-text-fill:#68c051;
}
#listGrid #qcArea .label#return {
	-fx-text-fill:#f69242;
}
#listGrid #qcArea .label#warning {
	-fx-text-fill:#f35353;
}
#listGrid #qcArea .label#fail {
	-fx-text-fill:#1F2D87;
}

#listGrid #detailArea {
	-fx-alignment:CENTER;
	-fx-border-width : 0;
}

#listGrid #detailArea .button {
	-fx-pref-width:55;
}

#searchArea {
	-fx-background-color:#F7F7F7;
	/*-fx-border-color:#C20D22;
	-fx-border-width:7 0 7 0;*/
}

#searchArea .label {-fx-text-fill:#5a6971;}

.btn_search {
	-fx-background-insets:0;
	-fx-background-color: #FB4952;
	-fx-background-radius :3;
	-fx-border-width:0;
	-fx-text-fill:#fff;
	-fx-font-weight:bold;
	-fx-padding:0;
	-fx-graphic-text-gap:0;
	-fx-font-size:12;
}
.btn_search:hover {
	-fx-background-color:#CF2730;
}
.btn_choice_run {
	-fx-background-insets:0;
	-fx-background-color: #1F2D87;
	-fx-background-radius :3;
	-fx-border-width:0;
	-fx-text-fill:#fff;
	-fx-font-weight:bold;
	-fx-padding:0;
	-fx-graphic-text-gap:0;
	-fx-min-height:25;
	-fx-font-size:11;
}
.btn_choice_run:hover {
	-fx-background-color:#262FCF;
}
.txt_sample_count {
	-fx-text-fill:#FE6583;
}

.btn_search_small {
	-fx-background-insets:0;
	-fx-background-color: #C30D23;
	-fx-background-radius :3;
	-fx-text-fill:#fff;
	-fx-font-weight:bold;
	-fx-padding:0;
	-fx-graphic-text-gap:0;
	-fx-font-size:14;
}
.btn_search_small:hover {
	-fx-background-color:#D41E34;
}

.btn_snp_indel {
	-fx-font-size:14px;
	-fx-background-insets:0;
	-fx-background-color: #CACACA;
	-fx-background-radius :3;
	-fx-text-fill:#fff;
	-fx-font-weight:bold;
	-fx-padding:0;
	-fx-graphic-text-gap:0;
}
.btn_snp_indel:hover {
	-fx-background-color: #DBDBDB;
}

.help_tooltip {
	-fx-background-image:url('../images/icon_help.png');
	-fx-background-color:transparent;
	-fx-background-repeat:no-repeat;
	-fx-min-width:15;
	-fx-pref-width:15;
	-fx-max-width:15;
	-fx-min-height:15;
	-fx-pref-height:15;
	-fx-max-height:15;
}
/*
.geneTable {
 -fx-border-width : 0;
}
.geneTable .column-header-background .nested-column-header .label{
	-fx-font-size:12px;
	-fx-text-fill:#ffffff;
	-fx-border-width : 0;
}

.geneTable .column-header-background .filler {
	-fx-background-color:#C30D23;
	-fx-border-width: 0;
	-fx-border-color:#FFFFFF ;
}

.geneTable .column-header {
	-fx-pref-height:30;
	-fx-background-color:#C30D23;
	-fx-border-color:#ffffff;
	-fx-border-width: 0;
}
*/