.combo-box {
    -fx-background-radius : 0;
    -fx-border-radius : 0;
}

.text-field {
    -fx-background-radius : 0;
    -fx-border-radius : 0;
}

#runListHeaderGridPane, #sampleListHeaderGridPane {
	-fx-border-width:0;
	-fx-background-color:#f2f5fa;
	-fx-border-width : 1 0 1 0;
	-fx-border-color : #cbccce;
}

#runListHeaderGridPane .header, #sampleListHeaderGridPane .header {
	-fx-font-size:12;
	-fx-text-fill:#000;
	-fx-font-weight:bold;
	-fx-min-height:25;
	-fx-pref-height:25;
	-fx-max-height:25;
	-fx-padding:0 0 0 0;
}

.background_white {
    -fx-background-color : #fff;
}

.sample_header {
    -fx-background-color : #8f9fb9;
    -fx-text-fill : #fff;
}

.sample_list_label {
    -fx-background-color : #f7f7f7;
    -fx-text-fill : #000000;
}

.sample_list_label_left {
    -fx-background-color : #f7f7f7;
    -fx-text-fill : #000000;
    -fx-alignment : center-left;
    -fx-padding: 0 10 0 10;
}

.lv_i_icon {
    -fx-background-radius : 20;
    -fx-pref-width : 25;
    -fx-pref-height : 18;
    -fx-text-fill : #FFFFFF;
    -fx-alignment : center;
    -fx-background-color : #F6545C;
}

.lv_ii_icon {
    -fx-background-radius : 20;
    -fx-pref-width : 25;
    -fx-pref-height : 18;
    -fx-text-fill : #FFFFFF;
    -fx-alignment : center;
    -fx-background-color : #FF9482;
}

.lv_iii_icon {
    -fx-background-radius : 20;
    -fx-pref-width : 25;
    -fx-pref-height : 18;
    -fx-text-fill : #FFFFFF;
    -fx-alignment : center;
    -fx-background-color : #70ACF5;
}

.lv_iv_icon {
    -fx-background-radius : 20;
    -fx-pref-width : 25;
    -fx-pref-height : 18;
    -fx-text-fill : #FFFFFF;
    -fx-alignment : center;
    -fx-background-color : #1F2D87;
}

.lv_v_icon {
    -fx-background-radius : 20;
    -fx-pref-width : 25;
    -fx-pref-height : 18;
    -fx-text-fill : #FFFFFF;
    -fx-alignment : center;
    -fx-background-color : #5a64a5;
}

.count_label {
    -fx-pref-width : 32;
    -fx-alignment : center-left;
    -fx-pref-height : 18;
    /*-fx-font-family: "Noto Sans CJK KR Regular";*/
    -fx-font-weight : 100;
}

.variant_hbox {
    -fx-background-color : #FFFFFF;
    -fx-alignment : center;
    -fx-pref-height : 30;
}

.remove_btn {
    -fx-background-color : #FFFFFF;
    -fx-background-radius : 30;
    -fx-alignment : center;
    -fx-text-fill : #000000;
    -fx-pref-width : 14;
    -fx-pref-height : 14;
    -fx-min-width : 14;
    -fx-min-height : 14;
    -fx-font-size : 8;
    -fx-padding : -1 0 0 0;
}

#tierTable .interpretation_A {
	-fx-background-color:#66A4F0;
	-fx-background-radius:15;
	-fx-font-size:12;
	-fx-font-weight:bold;
	-fx-text-fill:#fff;
	-fx-pref-width:20;
	-fx-pref-height : 20;
	-fx-text-alignment:center ;
	-fx-alignment:center;
}

#tierTable .interpretation_B {
	-fx-background-color:#8C89CD;
	-fx-background-radius:15;
	-fx-font-size:12;
	-fx-font-weight:bold;
	-fx-text-fill:#fff;
	-fx-pref-width:20;
	-fx-pref-height : 20;
	-fx-text-alignment:center ;
	-fx-alignment:center;
}

#tierTable .interpretation_C {
	-fx-background-color:#3AC6AF;
	-fx-background-radius:15;
	-fx-font-size:12;
	-fx-font-weight:bold;
	-fx-text-fill:#fff;
	-fx-pref-width:20;
	-fx-pref-height : 20;
	-fx-text-alignment:center ;
	-fx-alignment:center;
}

#tierTable .interpretation_D {
	-fx-background-color:#A2BF6F;
	-fx-background-radius:15;
	-fx-font-size:12;
	-fx-font-weight:bold;
	-fx-text-fill:#fff;
	-fx-pref-width:20;
	-fx-pref-height : 20;
	-fx-text-alignment:center ;
	-fx-alignment:center;
}

#pathogenicityTable .table-cell {
    -fx-alignment : center;
    -fx-text-fill : black;
    -fx-text-background-color : black;
}

#tierTable .table-cell {
    -fx-alignment : center;
}

#cnvSummaryTable .table-cell {
    -fx-alignment : center;
    -fx-text-fill : black;
    -fx-text-background-color : black;
}

#results_image_icon {
    -fx-graphic: url("../images/renewal/result_icon.png");
    -fx-pref-width : 24;
    -fx-pref-height : 24;
}

#search_image_icon {
    -fx-graphic: url("../images/renewal/search_icon.png");
    -fx-pref-width : 24;
    -fx-pref-height : 24;
}


.run_queued_icon {
    -fx-background-color : #d8a60d;
    -fx-background-radius : 20;
    -fx-pref-width : 25;
    -fx-pref-height : 18;
    -fx-text-fill : #FFFFFF;
    -fx-alignment : center;
}

.run_complete_icon {
    -fx-background-color : #229db8;
    -fx-background-radius : 20;
    -fx-pref-width : 25;
    -fx-pref-height : 18;
    -fx-text-fill : #FFFFFF;
    -fx-alignment : center;
}
.run_run_icon {
    -fx-background-color : #69b415;
    -fx-background-radius : 30;
    -fx-background-radius : 20;
    -fx-pref-width : 25;
    -fx-pref-height : 18;
    -fx-text-fill : #FFFFFF;
    -fx-alignment : center;
}
.run_failed_icon {
    -fx-background-color : #FF0000;
    -fx-background-radius : 20;
    -fx-pref-width : 25;
    -fx-pref-height : 18;
    -fx-text-fill : #FFFFFF;
    -fx-alignment : center;
}

.excel_download_image {
    -fx-cursor:hand;
    -fx-graphic: url("../images/renewal/excel16_icon.png");
    -fx-pref-width : 16;
    -fx-pref-height : 16;
    -fx-min-width : 16;
    -fx-min-height : 16;
}

.fileDownloadButton {
    -fx-cursor:hand;
    -fx-graphic: url("../images/renewal/download_icon.png");
    -fx-border-width : 0;
    -fx-pref-width : 16px;
    -fx-pref-height : 16px;
    -fx-font-size : 10px;
    -fx-background-radius : 0;
}

.sample_restart_button {
    -fx-content-display : center;
    -fx-cursor:hand;
    -fx-graphic: url("../images/renewal/share_icon.png");
    -fx-background-color : transparent;
    -fx-border-width : 0;
    -fx-padding: 6px 0 0 0;
    -fx-pref-width : 16px;
    -fx-pref-height : 16px;
    -fx-background-radius : 0;
}

.csv_download_image {
    -fx-cursor:hand;
    -fx-graphic: url("../images/renewal/csv16_icon.png");
    -fx-pref-width : 16;
    -fx-pref-height : 16;
    -fx-min-width : 16;
    -fx-min-height : 16;
}
.result_sample_name {
    -fx-alignment: center-left;
    -fx-padding: 0 10 0 10;
}

.brca_cnv_1 {
    //-fx-background-color : #F04978;
    -fx-background-color: transparent;
    -fx-background-image : url("../images/renewal/brca_sw_deletion.png");
    -fx-background-repeat:no-repeat;
    -fx-background-size : 32 16;
    -fx-background-position : 0 3;
}

.brca_cnv_1 .label{
    -fx-text-fill : #FFFFFF;
}

.brca_cnv_3 {
    //-fx-background-color : #2D70E8;
    -fx-background-color: transparent;
    -fx-background-image : url("../images/renewal/brca_sw_duplication.png");
    -fx-background-repeat:no-repeat;
    -fx-background-size : 32 16;
    -fx-background-position : 0 1;
}

.brca_cnv_3 .label{
    -fx-text-fill : #FFFFFF;
}

.down_button {
    -fx-background-color: transparent;
    -fx-background-image : url("../images/btn_move_down_on.png");
    -fx-background-repeat:no-repeat;
    -fx-background-position : center;
    -fx-pref-width : 28;
    -fx-pref-height : 8;
    -fx-min-width : 28;
    -fx-min-height : 8;
    -fx-max-width : 28;
    -fx-max-height : 8;
}

.box_border_style_dotted {
    -fx-border-width : 0.5;
    -fx-border-color : black;
    -fx-border-style : segments(2, 2, 2, 2)  line-cap round;
}

.box_border_style {
    -fx-border-width : 0.5;
    -fx-border-color : black;
}

.box_border_none_target {
    -fx-background-color : #cccccc;
}

.box_border_target {
    -fx-background-color : #ffffff;
}

.report_check {
	-fx-background-color:#595959;
	-fx-background-radius:15;
	-fx-font-size:12;
	-fx-font-weight:bold;
	-fx-text-fill:#fff;
	-fx-pref-width:20;
	-fx-text-alignment:center ;
	-fx-alignment:center;
}

.report_uncheck {
	-fx-background-color:#FFFFFF;
	-fx-background-radius:15;
	-fx-font-size:12;
	-fx-font-weight:bold;
	-fx-text-fill:#595959;
	-fx-pref-width:20;
	-fx-border-width : 1;
	-fx-border-radius : 15;
	-fx-border-color : #595959;
	-fx-text-alignment:center;
	-fx-alignment:center;
}

/*.cnvTable .column-header > .label  {
    -fx-content-display: graphic-only;
}*/

.cnvTable {
	-fx-background-color: #fff;
 	-fx-border-color:#000 #b1b1b1 #b1b1b1 #b1b1b1;
 	-fx-border-width:0;
 	-fx-padding:0;
 	-fx-font-size:13;
}

.cnvTable, .table-view .column-header-background, .table-view .column-header-background .label{
	-fx-background-color: transparent;
}

.cnvTable .column-header-background .nested-column-header .label{
	-fx-text-fill:#fff;
}

.cnvTable .column-header-background .filler {
	-fx-background-color:#8F9FB9;
	-fx-border-color:#000 #c3c3c3 #c3c3c3 #c3c3c3;
	-fx-border-width:0 0 0 0;
}

.cnvTable .column-header {
	-fx-pref-height:30;
	-fx-background-color:#8F9FB9;
 	-fx-border-color:#000 #F7F7F7 #F7F7F7 #F7F7F7;
 	-fx-border-width:0 1 0 0;
}


.cnvTable:row-selection .column-header-background .nested-column-header .sub_column {
	-fx-background-color:#cbd3d7;
 	-fx-border-color:#c3c3c3 #c3c3c3 #c3c3c3 #c3c3c3;
 	-fx-border-width:1 1 0 0;
}

.cnv_duplication {
	-fx-background-color:#2D70E8;
	-fx-border-width:0;
	-fx-background-radius:2;
	-fx-background-insets:0;
	-fx-font-size:10;
	-fx-text-fill:#fff;
	-fx-padding:0;
	-fx-min-width:20;
	-fx-pref-width:20;
	-fx-max-width:20;
	-fx-min-height:20;
	-fx-pref-height:20;
	-fx-max-height:20;
	-fx-text-alignment:center;
    -fx-alignment:center;
}

.cnv_normal {
	-fx-background-color:lightgray;
	-fx-border-width:0;
	-fx-background-radius:2;
	-fx-background-insets:0;
	-fx-font-size:10;
	-fx-text-fill:#fff;
	-fx-padding:0;
	-fx-min-width:20;
	-fx-pref-width:20;
	-fx-max-width:20;
	-fx-min-height:20;
	-fx-pref-height:20;
	-fx-max-height:20;
	-fx-text-alignment:center;
    -fx-alignment:center;
}
.cnv_deletion {
	-fx-background-color:#F04978;
	-fx-border-width:0;
	-fx-background-radius:2;
	-fx-background-insets:0;
	-fx-font-size:10;
	-fx-text-fill:#fff;
	-fx-padding:0;
	-fx-min-width:20;
	-fx-pref-width:20;
	-fx-max-width:20;
	-fx-min-height:20;
	-fx-pref-height:20;
	-fx-max-height:20;
	-fx-text-alignment:center;
    -fx-alignment:center;
}

.expert_cnv_duplication {
	-fx-background-color:#fff;
	-fx-border-width:0.5;
	-fx-border-color : #2D70E8;
	-fx-background-radius:2;
	-fx-background-insets:0;
	-fx-font-size:10;
	-fx-text-fill:#000;
	-fx-padding:0;
	-fx-min-width:20;
	-fx-pref-width:20;
	-fx-max-width:20;
	-fx-min-height:20;
	-fx-pref-height:20;
	-fx-max-height:20;
	-fx-text-alignment:center;
    -fx-alignment:center;
}

.expert_cnv_normal {
	-fx-background-color: #fff;
	-fx-border-width:0.5;
	-fx-border-color : lightgray;
	-fx-background-radius:2;
	-fx-background-insets:0;
	-fx-font-size:10;
	-fx-text-fill:#000;
	-fx-padding:0;
	-fx-min-width:20;
	-fx-pref-width:20;
	-fx-max-width:20;
	-fx-min-height:20;
	-fx-pref-height:20;
	-fx-max-height:20;
	-fx-text-alignment:center;
    -fx-alignment:center;
}
.expert_cnv_deletion {
	-fx-background-color:#fff;
	-fx-border-width:0.5;
	-fx-border-color : #F04978;
	-fx-background-radius:2;
	-fx-background-insets:0;
	-fx-font-size:10;
	-fx-text-fill:#000;
	-fx-padding:0;
	-fx-min-width:20;
	-fx-pref-width:20;
	-fx-max-width:20;
	-fx-min-height:20;
	-fx-pref-height:20;
	-fx-max-height:20;
	-fx-text-alignment:center;
    -fx-alignment:center;
}