#contentswrapper {
	-fx-background-color:transparent ;
	-fx-background-image:url('../images/bg_login.png');
	-fx-background-size:cover;
}

.text-field, .password-field {
	-fx-background-color:#fff;
	-fx-background-radius:3;
	-fx-border-color:#fff;
	-fx-border-radius:3;
	-fx-padding:0 30;
	-fx-text-fill:#656565;
	-fx-font-size:14;
}

#btnWindowClose {
	-fx-background-image:url('../images/btn_close.png');
	-fx-background-color:none;
	-fx-padding:5;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-border-width:0;
}

#btnWindowClose:hover {
	-fx-background-image:url('../images/btn_close_on.png');
}

.title {
	-fx-text-fill: #4D4D4D;
	-fx-font-size: 13;	
}

#inputLoginID {
	-fx-background-image:url('../images/icon_user1.png');
	-fx-background-repeat: no-repeat;
	-fx-background-position: left 10 center;
}

#inputPassword {
	-fx-background-image:url('../images/icon_lock.png');
	-fx-background-repeat: no-repeat;
	-fx-background-position: left 10 center;
}

#btnLogin {
	-fx-background-color: #646464;
	-fx-text-fill: #FFFFFF;
	-fx-font-size: 18;
	-fx-font-weight:bold;
	-fx-border-radius: 0;
	-fx-background-radius: 0;
	-fx-border-width:0 0 1 0;
	-fx-border-color:#525252;
}

#settingURLButton {
	-fx-background-image:url('../images/icon_settings.png');
	-fx-background-size: 24 24;
	-fx-background-repeat: no-repeat;
	-fx-background-color:transparent;
	-fx-background-insets:0;
	-fx-border-width:0;
	-fx-padding:0;
	-fx-pref-width:24;
	-fx-pref-height:24;
}
.title_warning {
	-fx-text-fill:#969595;
	-fx-font-size:12;
}