.layoutGrid {
	-fx-border-width:0;
}

#mainHeader #userMenuBar {
	-fx-background-color:transparent;
}

#mainHeader #userMenuBar:hover {
	-fx-background-color:transparent;
}

#mainHeader #userMenuBar .menu {
	-fx-background-image:url('../images/btn_user_set.png');
	-fx-background-color:transparent ;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
}

#mainHeader #userMenuBar .menu:hover {
	-fx-background-color:transparent ;
}

#mainHeader #userMenuBar .menu .menu-item .label {
	-fx-font-size:12px;
}

#mainHeader {
    -fx-background-color : transparent;
}

.bg_main_header_logo {
	-fx-background-image:url('../images/renewal/ngeneanalysys_logo.png');
	-fx-background-repeat:no-repeat ;
	-fx-alignment:center ;
	-fx-max-height:30;
}

.bg_company_logo {
	-fx-background-image:url('../images/ngenebio_logo_small.png');
	-fx-background-repeat:no-repeat ;
	-fx-alignment:center ;
	-fx-max-height:21;
}

#mainHeader .scroll-pane {
}

#mainHeader #topMenuArea {
	-fx-padding: 5 0 0 0;
}

#mainHeader #topMenuArea > .group {
	-fx-pref-width: 100;
}

#mainHeader #topMenuArea > Region {
	//-fx-background-color:linear-gradient(#A0A0A0 0%, #858585 50%, #525051 100%);
	-fx-background-radius:0 0 0 0;
	-fx-border-width:0;
	-fx-pref-width:105;
	-fx-pref-height:40;
}

#mainHeader #topMenuArea > Region #addMenu {
	//-fx-background-color: linear-gradient(#A0A0A0 0%, #858585 50%, #525051 100%);
	-fx-background-radius:0;
	-fx-pref-width:115;
	-fx-pref-height:40;
}

#mainHeader #topMenuArea > .label {
	-fx-font-size: 14;
	-fx-text-fill:#000000;
	-fx-alignment:center;
	-fx-padding:0 0 0 0;
	-fx-pref-width:105;
	-fx-pref-height:40;
}

#mainHeader #topMenuArea > .label #addMenuLabel {
	-fx-font-size: 12;
	-fx-underline : true;
	-fx-text-fill:#000000;
	-fx-alignment:center;
}

#mainHeader #topMenuArea > .scroll_left_btn {
	-fx-background-color:none;
	-fx-background-image:url('../images/btn_move_left.png');
	-fx-background-repeat:no-repeat;
}

#mainHeader #topMenuArea > .scroll_left_btn:hover {
	-fx-background-image:url('../images/btn_move_left_on.png');
}

#mainHeader #topMenuArea > .scroll_right_btn {
	-fx-background-color:none;
	-fx-background-image:url('../images/btn_move_right.png');
	-fx-background-repeat:no-repeat;
}

#mainHeader #topMenuArea > .scroll_right_btn:hover {
	-fx-background-image:url('../images/btn_move_right_on.png');
}

#mainHeader #topMenuArea > .close_btn {
	-fx-background-color:#DADADA;
	-fx-background-image:url('../images/btn_tab_close.png');
	-fx-padding:-5 15 0 0;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
}
#mainHeader #topMenuArea > .close_btn:hover {
	-fx-background-image:url('../images/btn_tab_close_on.png');
}
#mainHeader #topMenuArea > #selectedMenu Region {
	//-fx-background-color:linear-gradient(#D7000F 0%, #C60213 50%, #A70A1E 100%);
	/* top-left top-right bottom-right bottom-left */
	-fx-background-radius:0;
	-fx-border-width:0;
}

#mainHeader #topMenuArea > #selectedMenu .label {
	-fx-font-size: 14;
	-fx-font-weight:bold;
	-fx-text-fill: #000000;
	-fx-alignment:center;
	-fx-border-width:0 0 2 0;
    -fx-border-color : red;
}

#mainHeader #topMenuArea > #selectedMenu Region #addMenu {
	//-fx-background-color:linear-gradient(#D7000F 0%, #C60213 50%, #A70A1E 100%);
	-fx-background-radius:0;
	-fx-border-width:0;
}

#mainHeader #topMenuArea > #selectedMenu .label #addMenuLabel {
	-fx-font-size: 12;
	-fx-underline : true;
	-fx-text-fill: #000000;
	-fx-alignment:center;
	-fx-border-width:0 0 2 0;
    -fx-border-color : red;
}

.user_name {

	-fx-text-fill : #868686;
}

#labelSystemBuild {
    -fx-text-fill : black;
}

#mainBackground {
    -fx-background-color:none;
    -fx-background-image:url('../images/renewal/main_background.jpg');
    -fx-background-repeat:no-repeat;
    -fx-background-size : cover;
}

#mainFrame {
    -fx-background-color: white;
}