#overviewWrapper .title1 {
	-fx-font-size:11;
	-fx-text-fill:#425a67;
	-fx-font-weight:bold;
	-fx-border-width:0;
	-fx-padding:0 0 0 5;
	-fx-min-height:15;
	-fx-pref-height:15;
	-fx-max-height:15;
}
#overviewWrapper .title2 {
	-fx-font-size:9;
	-fx-text-fill:#425a67;
	-fx-font-weight:bold;
	-fx-border-width:0;
	-fx-padding:0 0 0 5;
	-fx-min-height:20;
	-fx-pref-height:20;
	-fx-max-height:20;
}

#overviewWrapper .title3 {
	-fx-font-size:15;
	-fx-text-fill:#000;
	-fx-font-weight:bold;
	-fx-padding:-5 0 0 0;
}

#overviewWrapper .ref {
	-fx-font-size:15;
	-fx-text-fill:#000;
	-fx-font-weight:bold;
	-fx-padding:-5 0 0 0;
}

#overviewWrapper .alt {
	-fx-font-size:15;
	-fx-text-fill:#F6645E ;
	-fx-font-weight:bold;
	-fx-padding:-5 0 0 0;
}
#overviewWrapper .variant_type {
	-fx-font-size:9;
	-fx-text-fill:#F6645E;
}
#overviewWrapper .variant_alt {
	-fx-font-size:12;
	-fx-text-fill:#F6645E ;
	-fx-font-weight:bold;
}
#overviewWrapper .vertical_stick_legend {
	-fx-font-size:10;
	-fx-text-fill:#656565;
	-fx-min-height:15;
	-fx-pref-height:15;
	-fx-max-height:15;
	-fx-padding:0 0 0 5;
}

#overviewWrapper .vertical_stick_legend_value {
	-fx-font-size:9;
	-fx-text-fill:#000;
	-fx-font-weight:bold;
	-fx-min-height:15;
	-fx-pref-height:15;
	-fx-max-height:15;
	-fx-padding:0 0 0 5;
	-fx-alignment:center;
}

#overviewWrapper .vertical_stick {	
	-fx-background-color:#ffffff;
	-fx-border-width:1;
	-fx-border-color:#A7A7A7;
}

#overviewWrapper #depthValueLabel, #overviewWrapper #fractionValueLabel {
	-fx-background-color:#F6545C;
}

#overviewWrapper .vertical_stick_value_left {
	-fx-alignment:center-left;
	-fx-font-size:12;
	-fx-text-fill:#fff;
	-fx-font-weight:bold;
	-fx-background-image:url('../images/bg_value_left.png');
	-fx-min-height:15;
	-fx-pref-height:15;
	-fx-max-height:15;
	-fx-min-width:53;
	-fx-pref-width:53;
	-fx-max-width:53;
	-fx-padding:-2 0 0 7;
}
#overviewWrapper .vertical_stick_value_right {
	-fx-alignment:center-right;
	-fx-font-size:12;
	-fx-text-fill:#fff;
	-fx-font-weight:bold;
	-fx-background-image:url('../images/bg_value_right.png');
	-fx-min-height:15;
	-fx-pref-height:15;
	-fx-max-height:15;
	-fx-min-width:53;
	-fx-pref-width:53;
	-fx-max-width:53;
	-fx-padding:-2 7 0 0;
}

#overviewWrapper .border_left {
	-fx-border-color:#e2e2e2;
	-fx-border-width:0 0 0 1;
}

#overviewWrapper .border_bottom {
	-fx-border-color:#e2e2e2;
	-fx-border-width:0 0 1 0;
}

#overviewWrapper #identificationArea .combo-box {
	-fx-background-color:#A9A9A9;
	-fx-background-radius:3;
	-fx-border-width:0;
}

#overviewWrapper #identificationArea .combo-box .list-cell {
	-fx-background-insets:0;
	-fx-padding:0 0 0 15;
}

#overviewWrapper #identificationArea .combo-box .list-cell:selected {
	-fx-text-fill:#fff;
}

#overviewWrapper #identificationArea .combo-box .arrow-button .arrow {
	-fx-background-color:#fff;
}

#overviewWrapper #identificationArea #positionBox {
	-fx-border-width:0;
}

#overviewWrapper #identificationArea #positionBox ScrollPane {
	-fx-background-color:transparent;
}

#overviewWrapper #identificationArea #positionBox GridPane #refArea {
	-fx-background-image:url('../images/bg_acid_position.png');
	-fx-background-repeat:no-repeat;
	-fx-background-position: -116 -8;
	-fx-border-width:0;
}

#overviewWrapper #identificationArea #transcriptDetailGrid .label {
	-fx-padding:0 0 0 8;
	-fx-min-height:18;
	-fx-pref-height:18;
	-fx-max-height:18;
}
#overviewWrapper #identificationArea #transcriptDetailGrid .text-field {
	-fx-padding:0 0 0 8;
	-fx-min-height:18;
	-fx-pref-height:18;
	-fx-max-height:18;
	-fx-border-width:0;
	-fx-background-radius: 0;
}
#overviewWrapper #populationFrequencyGraphGridPane {
	-fx-min-width:370;
	-fx-pref-width:370;
	-fx-max-width:370;
	-fx-padding:10 0 0 0;
}

#overviewWrapper .population_frequency_graph {
	-fx-alignment:center;
	-fx-min-width:180;
	-fx-pref-width:180;
	-fx-max-width:180;
	-fx-min-height:22;
	-fx-pref-height:22;
	-fx-max-height:22;
}

#overviewWrapper .population_frequency_graph .title {
	-fx-alignment:center-left;
	-fx-font-size:10px;
	-fx-text-fill:#656565;
	-fx-padding:0 0 0 0;
	-fx-min-width:55;
	-fx-pref-width:55;
	-fx-max-width:55;
}

#overviewWrapper .population_frequency_graph .percent {
	-fx-alignment:center-right;
	-fx-font-size:10px;
	-fx-text-fill:#000;
	-fx-font-weight:bold;
	-fx-padding:0 0 0 0;
	-fx-min-width:30;
	-fx-pref-width:30;
	-fx-max-width:30;
}

#overviewWrapper .horizon_stick {
	-fx-background-color:#ffffff;
	-fx-border-color:#A7A7A7;
	-fx-border-width:1;
	-fx-min-width:75;
	-fx-pref-width:75;
	-fx-max-width:75;
	-fx-min-height:8;
	-fx-pref-height:8;
	-fx-max-height:8;
}

#overviewWrapper .population_frequency_graph:disabled .horizon_stick {
	-fx-background-color:#fefefe;
	-fx-border-color:#dedede;
}


#overviewWrapper .horizon_stick .label {
	-fx-background-color:#F6645E;
	-fx-min-height:6;
	-fx-pref-height:6;
	-fx-max-height:6;
}

#overviewWrapper .button.link {
	-fx-background-color:#fff;
	-fx-background-insets:0;
	-fx-background-radius:3;
	-fx-border-radius:3;
	-fx-border-color:#6cb873;
	-fx-font-size:11px;
	-fx-text-fill:#6cb873;
	-fx-padding:0;
}

#overviewWrapper .button.link:hover {
	-fx-background-color:#6CB873;
	-fx-text-fill:#fff;
}

#overviewWrapper .button.link:disabled {
	-fx-border-width:0;
	-fx-text-fill:#aaa;
}

#overviewWrapper .bg_gauge {
	-fx-background-image:url('../images/bg_gauge_graph.png');
	-fx-background-repeat:no-repeat;
}

/** 탭 상단 배경 */
#overviewWrapper #clinicalTabPane.tab-pane:top>.tab-header-area>.tab-header-background {
	-fx-background-color:#fff;
	-fx-background-insets: 0;
	-fx-border-color:#e2e2e2;
	-fx-border-width:0 0 1 0;
}
#overviewWrapper #clinicalTabPane.tab-pane:top>.tab-header-area {
	-fx-alignment:center;
}

#overviewWrapper #clinicalTabPane.tab-pane:top>.tab-header-area>.headers-region>.tab {
	-fx-background-insets: 0;
	-fx-padding:0 5;
	-fx-font-size:11;
}

/** 탭메뉴 : 미선택 */
#overviewWrapper #clinicalTabPane.tab-pane:top>.tab-header-area>.headers-region>.tab:top {
	-fx-background-color: #fff;
	-fx-border-color:#e2e2e2;
	-fx-border-width:0 0 1 0;
	-fx-focus-traversable: false;
}

/** 탭메뉴 컨테이너 : 미선택 */
#overviewWrapper #clinicalTabPane.tab-pane:top>.tab-header-area>.headers-region>.tab:top>.tab-container {
	-fx-cursor:hand;
}

/** 탭메뉴 라벨 : 미선택 */
#overviewWrapper #clinicalTabPane.tab-pane:top>.tab-header-area>.headers-region>.tab:top>.tab-container>.tab-label{
	-fx-alignment: CENTER;
	-fx-text-fill: #7c7c7c;
}

/** 탭메뉴 : 선택 */
#overviewWrapper #clinicalTabPane.tab-pane:top>.tab-header-area>.headers-region>.tab:selected:top {
	-fx-background-color: #fff;
	-fx-background-radius:2 2 0 0;
	/* top right bottom left  */
	-fx-border-color:#e2e2e2;
	/* top-left top-right bottom-right bottom-left */
	-fx-border-radius: 2 2 0 0;
	/* top right bottom left  */
	-fx-border-width:1 1 0 1;
	-fx-focus-traversable: false;
}

/** 탭메뉴 컨테이너 : 선택 */
#overviewWrapper #clinicalTabPane.tab-pane:top>.tab-header-area>.headers-region>.tab:selected:top>.tab-container {
	-fx-cursor:hand;
}

/** 탭메뉴 라벨 : 선택 */
#overviewWrapper #clinicalTabPane.tab-pane:top>.tab-header-area>.headers-region>.tab:selected:top>.tab-container>.tab-label {
	-fx-alignment:CENTER;
	-fx-text-fill:#425a67;
}

#overviewWrapper #significantRadarGraphArea {
	-fx-background-image:url('../images/bg_polygon_for_pathogenic.png');
	-fx-background-repeat: no-repeat;
}

#overviewWrapper #frequenciesRadarGraphArea {
	-fx-background-image:url('../images/bg_polygon.png');
	-fx-background-repeat: no-repeat;
}
.clinical_significant_pathogenicity_vbox {
	-fx-spacing:5;
	-fx-alignment:center-left;
	-fx-padding:10;
}
.clinical_significant_pathogenicity_hbox {
	-fx-alignment:center-left;
	-fx-spacing:5;
	-fx-min-height:20;
	-fx-pref-height:20;
	-fx-max-height:20;	
}
.clinical_significant_pathogenicity_label {
	-fx-alignment:center-right;
	-fx-pref-height:15;
	-fx-max-height:15;
	-fx-pref-width:80;
	-fx-min-width:80;
	-fx-padding:0 5 0 0;
	-fx-font-size:10;
}