/** 탭 상단 */
#topTabPaneManager.tab-pane:top>.tab-header-area {
	-fx-padding:0; //0 5 0 -4;
	-fx-background-color : transparent;
	-fx-font-family: "Noto Sans KR Bold";
}

/** 탭 상단 배경 */
#topTabPaneManager.tab-pane:top>.tab-header-area>.tab-header-background {
	-fx-background-color: transparent;
	-fx-border-width:0;
	-fx-background-insets: 0;
}

/** 탭메뉴 : 미선택 */
#topTabPaneManager.tab-pane:top>.tab-header-area>.headers-region {
	//-fx-alignment: bottom-center;
}
#topTabPaneManager.tab-pane:top>.tab-header-area>.headers-region>.tab:top {
	-fx-background-color: #96a8bf;
	-fx-background-insets: 0 5 0 0;
	-fx-padding:0;
	-fx-min-height: 30px;
    -fx-pref-height: 30px;
    -fx-max-height: 30px;
	-fx-focus-traversable: false;
	-fx-background-radius : 10 10 0 0;
    -fx-border-width : 0 1 0 0;
    -fx-border-radius : 10 10 0 0;
    -fx-border-color : #ffffff;
    -fx-min-width:160;
    -fx-pref-width:160;
    -fx-max-width:160;
}
/** 탭메뉴 컨테이너 : 미선택 */
#topTabPaneManager.tab-pane:top>.tab-header-area>.headers-region>.tab:top>.tab-container {
	-fx-background-color: transparent;
	-fx-cursor:hand;

}
/** 탭메뉴 라벨 : 미선택 */
#topTabPaneManager.tab-pane:top>.tab-header-area>.headers-region>.tab:top>.tab-container>.tab-label{
    -fx-min-width:160;
    -fx-pref-width:160;
    -fx-max-width:160;
	-fx-alignment: center;
	-fx-text-fill: #ffffff;
	-fx-font-size:14px;
}

/** 탭메뉴 : 선택 */
#topTabPaneManager.tab-pane:top>.tab-header-area>.headers-region>.tab:selected:top {
	-fx-background-color: #24467c;
	-fx-background-insets: 0 5 0 0;
	-fx-padding:0 0 0 0;
	-fx-min-height: 30px;
    -fx-pref-height: 30px;
    -fx-max-height: 30px;
	-fx-focus-traversable: false;
	-fx-border-width : 0 1 0 0;
    -fx-border-radius : 10 10 0 0;
    -fx-border-color : #ffffff;
    -fx-min-width:160;
    -fx-pref-width:160;
    -fx-max-width:160;
}

/** 탭메뉴 컨테이너 : 선택 */
#topTabPaneManager.tab-pane:top>.tab-header-area>.headers-region>.tab:selected>.tab-container {
	-fx-background-color: transparent;
	-fx-cursor:hand;
}

/** 탭메뉴 라벨 : 선택 */
#topTabPaneManager.tab-pane:top>.tab-header-area>.headers-region>.tab:selected>.tab-container>.tab-label {
	-fx-min-width:160;
    -fx-pref-width:160;
    -fx-max-width:160;
    -fx-alignment: center;
    -fx-text-fill: #ffffff;
    -fx-font-size:14px;
}

/** 탭메뉴 닫기 버튼 : 선택 */
#topTabPaneManager.tab-pane:top>.tab-header-area>.headers-region>.tab>.tab-container>.focus-indicator {
	-fx-border-width:0;
}