
#tabMenuHBox .group {
	-fx-pref-width: 110;
}

#tabMenuHBox Region {
	-fx-background-color: #fff;
	-fx-background-radius:0 0 0 0;
	-fx-border-width:0;
	-fx-pref-width:110;
	-fx-pref-height:35;
	-fx-background-image:url('../images/renewal/arrow_5x11.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: right 20 center;
    -fx-border-width: 0.5 0.5 0.5 0.5;
    -fx-border-color : #d2d0d0;
}

#tabMenuHBox .label {
	-fx-font-size: 14;
	-fx-text-fill:#000000;
	-fx-alignment:center;
	-fx-padding:0 0 0 0;
	-fx-pref-width:110;
	-fx-pref-height:35;
}

#tabMenuHBox #selectedMenu Region {
	-fx-background-color: #a6b5cb;
	/* top-left top-right bottom-right bottom-left */
	-fx-background-radius:0;
	-fx-border-width:0;
	-fx-background-image:url('../images/renewal/arrow_5x11.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: right 20 center;
    -fx-border-width: 0.5 0.5 0.5 0.5;
    -fx-border-color : #d2d0d0;
}

#tabMenuHBox #selectedMenu .label {
	-fx-font-size: 12;
	-fx-font-weight:bold;
	-fx-text-fill: #ffffff;
	-fx-alignment: center-left;
	-fx-label-padding : 0 0 0 15;
}

.btn_fold {
    -fx-background-color : #a8bbd9;
    -fx-background-image:url('../images/renewal/white_left_arrow.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.btn_expand {
    -fx-background-color : #a8bbd9;
    -fx-background-image:url('../images/renewal/white_right_arrow.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.right_btn_fold {
    -fx-background-color : #f2f5fa;
    -fx-background-image:url('../images/renewal/skyblue_right_arrow.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.right_btn_expand {
    -fx-background-color : #a8bbd9;
    -fx-background-image:url('../images/renewal/white_left_arrow.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}