<?xml version="1.0" encoding="UTF-8"?>
<fo:root xmlns:fo="http://www.w3.org/1999/XSL/Format">
	<!-- Layout setting -->
	<fo:layout-master-set>
		<fo:simple-page-master master-name="all-pages" margin-top="5mm" margin-bottom="5mm" margin-left="5mm" margin-right="5mm" page-width="210mm" page-height="297mm">
#if($isDraft)
			<fo:region-body region-name="xsl-region-body" margin-top="20mm" margin-bottom="25mm" margin-left="10mm" margin-right="10mm" background-position-horizontal="center" background-position-vertical="center" background-repeat="no-repeat" background-image="${draftImageURL}" />
#else
			<fo:region-body region-name="xsl-region-body" margin-top="20mm" margin-bottom="25mm" margin-left="10mm" margin-right="10mm" />
#end
			<fo:region-before region-name="xsl-region-before" display-align="after" extent="5mm" />
			<fo:region-after region-name="xsl-region-after" display-align="before" extent="25mm" />
		</fo:simple-page-master>
		<fo:page-sequence-master master-name="default-sequence">
			<fo:repeatable-page-master-reference master-reference="all-pages"/>
		</fo:page-sequence-master>
	</fo:layout-master-set>

	<!-- Page Contents -->
	<fo:page-sequence master-reference="default-sequence">

		<!-- header contents -->
		<fo:static-content flow-name="xsl-region-before">
			<!--<fo:block font-size="9pt" text-align="left" border-top-width="0pt" border-bottom-width="2pt" border-left-width="0pt" border-right-width="0pt" border-style="solid" border-color="#F05858">-->
			<fo:block font-size="6pt" font-family="Noto Sans CJK KR Regular" text-align="left" border-width="0">
				<fo:table table-layout="fixed" width="100%" margin-top="3mm" margin-bottom="3mm" margin-left="3mm" margin-right="3mm">
					<fo:table-column column-width="100mm" />
					<fo:table-column column-width="proportional-column-width(1)" />
					<fo:table-column column-width="80mm" />
					<fo:table-body>
						<fo:table-row>
							<fo:table-cell column-number="1">
								<fo:block text-align="left">
									<!--<fo:external-graphic src="${ngenebioLogo}" content-width="35mm" content-height="6mm"/>-->
								</fo:block>
								<fo:block text-align="left">
									$contents.panelName Amplicon($contents.panelCode) Clinical Report(#$contents.reportID)
								</fo:block>
							</fo:table-cell>
						</fo:table-row>
					</fo:table-body>
				</fo:table>
			</fo:block>
		</fo:static-content>
		<!-- End header contents -->

		<!-- footer contents -->
		<fo:static-content flow-name="xsl-region-after">
			<fo:block margin="5mm" font-family="Noto Sans CJK KR Regular" font-size="6pt" text-align="left" border-width="0pt">
				<fo:table table-layout="fixed" width="100%">
					<fo:table-column column-width="80%" />
					<fo:table-column column-width="proportional-column-width(1)" />
					<fo:table-body>
						<fo:table-row>
							<fo:table-cell>
								<fo:block text-align="left">NGeneBio. 1104, Hanhwa Bizmetro, 242, Digital-ro, Guro-gu, Seoul, Korea</fo:block>
								<fo:block text-align="left">Phone: +82-2-867-9787 E-mail: support@ngenebio.com</fo:block>
								<fo:block text-align="left">www.ngenebio.com</fo:block>
							</fo:table-cell>
							<fo:table-cell>
								<fo:block text-align="right"><fo:page-number/> of <fo:page-number-citation ref-id="lastPage"/></fo:block>
							</fo:table-cell>
						</fo:table-row>
					</fo:table-body>
				</fo:table>
			</fo:block>
			
		</fo:static-content>
		<!-- End footer contents -->

		<!-- Contents Area -->
		<fo:flow flow-name="xsl-region-body">
			<!-- title -->
			<fo:block text-align="center" margin-top="10mm" font-family="Noto Sans CJK KR Bold" font-weight="bold" font-size="16pt">Clinical Report Test</fo:block>
			<fo:block text-align="right" margin-top="10mm" font-family="Noto Sans CJK KR Regular" font-size="11pt">${contents.reportingDate}</fo:block>
			
			<!-- 검사 정보, 의뢰정보, 환자정보 -->
			<fo:block margin-top="10mm">			
				<fo:table display-align="center" border-width="0" width="100%" table-layout="fixed">
					<fo:table-column column-width="20%"/>
					<fo:table-column column-width="30%"/>
					<fo:table-column column-width="20%"/>
					<fo:table-column column-width="30%"/>
					<fo:table-body>
						<fo:table-row font-weight="bold">
							<fo:table-cell padding="2mm" border-width="0" number-columns-spanned="2">
								<fo:block font-family="Noto Sans CJK KR Bold" font-size="11pt" font-weight="bold">Test Information</fo:block>
							</fo:table-cell>
							<fo:table-cell padding="2mm" border-width="0" number-columns-spanned="2">
								<fo:block font-family="Noto Sans CJK KR Bold" font-size="11pt" font-weight="bold">Client Information</fo:block>
							</fo:table-cell>
						</fo:table-row>
						<fo:table-row font-weight="bold">
							<fo:table-cell padding="2mm" border-width="0.5pt" border-style="solid">
								<fo:block font-family="Noto Sans CJK KR Regular" font-size="10pt">Test No.</fo:block>
							</fo:table-cell>
							<fo:table-cell padding="2mm" border-width="0.5pt" border-style="solid">
								<fo:block font-family="Noto Sans CJK KR Regular" font-size="9pt" >$contents.manageNo</fo:block>
							</fo:table-cell>
							<fo:table-cell padding="2mm" border-width="0.5pt" border-style="solid" border-left-style="double" border-left-width="2.0pt">
								<fo:block font-family="Noto Sans CJK KR Regular" font-size="10pt">Ordering Organization</fo:block>
							</fo:table-cell>
							<fo:table-cell padding="2mm" border-width="0.5pt" border-style="solid">
								<fo:block font-family="Noto Sans CJK KR Regular" font-size="9pt" >$contents.clientOrganization</fo:block>
							</fo:table-cell>
						</fo:table-row>
						<fo:table-row>
							<fo:table-cell padding="2mm" border-width="0.5pt" border-style="solid">
								<fo:block font-family="Noto Sans CJK KR Regular" font-size="10pt">Test Name</fo:block>
							</fo:table-cell>
							<fo:table-cell padding="2mm" border-width="0.5pt" border-style="solid" >
								<fo:block font-family="Noto Sans CJK KR Regular" font-size="9pt">$contents.inspectionItem</fo:block>
							</fo:table-cell>
							<fo:table-cell padding="2mm" border-width="0.5pt" border-style="solid" border-left-style="double" border-left-width="2.0pt">
								<fo:block font-family="Noto Sans CJK KR Regular" font-size="10pt">Ordering Physician</fo:block>
							</fo:table-cell>
							<fo:table-cell padding="2mm" border-width="0.5pt" border-style="solid" >
								<fo:block font-family="Noto Sans CJK KR Regular" font-size="9pt">$contents.clientName</fo:block>
							</fo:table-cell>
						</fo:table-row>
						<fo:table-row>
							<fo:table-cell padding="2mm" border-width="0.5pt" border-style="solid" number-columns-spanned="2">
								<fo:block> </fo:block>
							</fo:table-cell>							
							<fo:table-cell padding="2mm" border-width="0.5pt" border-style="solid" border-left-style="double" border-left-width="2.0pt">
								<fo:block font-family="Noto Sans CJK KR Regular" font-size="10pt">Contact</fo:block>
							</fo:table-cell>
							<fo:table-cell padding="2mm" border-width="0.5pt" border-style="solid" >
								<fo:block font-family="Noto Sans CJK KR Regular" font-size="9pt">$contents.clientContact</fo:block>
							</fo:table-cell>
						</fo:table-row>
						<fo:table-row>
							<fo:table-cell padding="2mm" border-width="0pt" number-columns-spanned="4">
								<fo:block> </fo:block>
							</fo:table-cell>
						</fo:table-row>
						<fo:table-row font-weight="bold">
							<fo:table-cell padding="2mm" border-width="0" number-columns-spanned="2">
								<fo:block font-family="Noto Sans CJK KR Bold" font-size="11pt" font-weight="bold">Specimen</fo:block>
							</fo:table-cell>
							<fo:table-cell padding="2mm" border-width="0" number-columns-spanned="2">
								<fo:block font-family="Noto Sans CJK KR Bold" font-size="11pt" font-weight="bold">Patient</fo:block>
							</fo:table-cell>
						</fo:table-row>
						<fo:table-row font-weight="bold">
							<fo:table-cell padding="2mm" border-width="0.5pt" border-style="solid">
								<fo:block font-family="Noto Sans CJK KR Regular" font-size="10pt" font-weight="bold">Specimen Type</fo:block>
							</fo:table-cell>
							<fo:table-cell padding="2mm" border-width="0.5pt" border-style="solid">
								<fo:block font-family="Noto Sans CJK KR Regular" font-size="9pt" >$contents.sampleSource</fo:block>
							</fo:table-cell>
							<fo:table-cell padding="2mm" border-width="0.5pt" border-style="solid" border-left-style="double" border-left-width="2.0pt">
								<fo:block font-family="Noto Sans CJK KR Regular" font-size="10pt" font-weight="bold">Name</fo:block>
							</fo:table-cell>
							<fo:table-cell padding="2mm" border-width="0.5pt" border-style="solid">
								<fo:block font-family="Noto Sans CJK KR Regular" font-size="9pt" >$contents.name</fo:block>
							</fo:table-cell>
						</fo:table-row>
						<fo:table-row font-weight="bold">
							<fo:table-cell padding="2mm" border-width="0.5pt" border-style="solid">
								<fo:block font-family="Noto Sans CJK KR Regular" font-size="10pt" font-weight="bold">Draw Date</fo:block>
							</fo:table-cell>
							<fo:table-cell padding="2mm" border-width="0.5pt" border-style="solid">
								<fo:block font-family="Noto Sans CJK KR Regular" font-size="9pt" >$contents.DrawDate</fo:block>
							</fo:table-cell>
							<fo:table-cell padding="2mm" border-width="0.5pt" border-style="solid" border-left-style="double" border-left-width="2.0pt">
								<fo:block font-family="Noto Sans CJK KR Regular" font-size="10pt" font-weight="bold">Date of Birth</fo:block>
							</fo:table-cell>
							<fo:table-cell padding="2mm" border-width="0.5pt" border-style="solid">
								<fo:block font-family="Noto Sans CJK KR Regular" font-size="9pt" >$contents.patientBirthday</fo:block>
							</fo:table-cell>
						</fo:table-row>
						<fo:table-row font-weight="bold">
							<fo:table-cell padding="2mm" border-width="0.5pt" border-style="solid">
								<fo:block font-family="Noto Sans CJK KR Regular" font-size="10pt" font-weight="bold">Received Date</fo:block>
							</fo:table-cell>
							<fo:table-cell padding="2mm" border-width="0.5pt" border-style="solid">
								<fo:block font-family="Noto Sans CJK KR Regular" font-size="9pt" >$contents.ReceivedDate</fo:block>
							</fo:table-cell>
							<fo:table-cell padding="2mm" border-width="0.5pt" border-style="solid" border-left-style="double" border-left-width="2.0pt">
								<fo:block font-family="Noto Sans CJK KR Regular" font-size="10pt" font-weight="bold">Patient ID</fo:block>
							</fo:table-cell>
							<fo:table-cell padding="2mm" border-width="0.5pt" border-style="solid">
								<fo:block font-family="Noto Sans CJK KR Regular" font-size="9pt" >$contents.patientID</fo:block>
							</fo:table-cell>
						</fo:table-row>
						<fo:table-row>
							<fo:table-cell padding="2mm" border-width="0.5pt" border-style="solid" number-columns-spanned="2">
								<fo:block font-family="Noto Sans CJK KR Regular" font-size="10pt" font-weight="bold"></fo:block>
							</fo:table-cell>
							<fo:table-cell padding="2mm" border-width="0.5pt" border-style="solid" border-left-style="double" border-left-width="2.0pt">
								<fo:block font-family="Noto Sans CJK KR Regular" font-size="10pt" font-weight="bold">Gender</fo:block>
							</fo:table-cell>
							<fo:table-cell padding="2mm" border-width="0.5pt" border-style="solid" >
								<fo:block font-family="Noto Sans CJK KR Regular" font-size="9pt">$contents.patientGender</fo:block>
							</fo:table-cell>
						</fo:table-row>
						<fo:table-row>
							<fo:table-cell padding="2mm" border-width="0pt" number-columns-spanned="4">
								<fo:block> </fo:block>
							</fo:table-cell>
						</fo:table-row>
						<fo:table-row>
							<fo:table-cell padding="2mm" border-width="0" number-columns-spanned="4">
								<fo:block font-family="Noto Sans CJK KR Bold" font-size="11pt" font-weight="bold">Summary</fo:block>
							</fo:table-cell>							
						</fo:table-row>
						<fo:table-row>
							<fo:table-cell padding="2mm" border-width="0.5pt" border-style="solid" number-columns-spanned="4">
								<fo:block font-family="Noto Sans CJK KR Regular" font-size="9pt">
								#if($contents.isExistReportedVariant == "Y")
									<fo:block padding="2mm">Positively, clinically significant SNV/Indel identified.</fo:block>
									#foreach($variant in $contents.variantList)
										#if($variant.snpInDel.includedInReport == 'Y')
											<fo:block padding="1mm">
												<![CDATA[$variant.snpInDel.genomicCoordinate.gene]]>,  <![CDATA[$variant.snpInDel.snpInDelExpression.ntChange]]>, <![CDATA[$variant.snpInDel.snpInDelExpression.aaChange]]>,
												#if($contents.sampleSource && $contents.sampleSource == "FFPE")
												VAF $variant.snpInDel.readInfo.alleleFraction%
												#else
												<![CDATA[$variant.snpInDel.snpInDelExpression.zygosity]]>
												#end
											</fo:block>
										#end	
									#end
								#else
									<fo:block padding="2mm">Clinically significant SNV/Indel unidentified.</fo:block>
								#end
									<fo:block padding="2mm"></fo:block>
								#if($contents.brcaCnvResults)
									<fo:block padding="2mm">Positively, clinically significant CNV identified.</fo:block>
									#foreach($cnv in $contents.brcaCnvResults)
										<fo:block padding="1mm">
											<![CDATA[$cnv.gene]]> (<![CDATA[$cnv.cnv]]>): <![CDATA[$cnv.result]]>
										</fo:block>
									#end
								#else
									<fo:block padding="2mm">Clinically significant CNV unidentified.</fo:block>
								#end

								</fo:block>
							</fo:table-cell>
						</fo:table-row>
						<fo:table-row>
							<fo:table-cell padding="5mm" border-width="0pt" number-columns-spanned="4">
								<fo:block> </fo:block>
							</fo:table-cell>
						</fo:table-row>	
						<fo:table-row>
							<fo:table-cell padding="2mm" border-width="0" number-columns-spanned="4">
								<fo:block font-family="Noto Sans CJK KR Bold" font-size="11pt" font-weight="bold">Result/Conclusion</fo:block>
							</fo:table-cell>							
						</fo:table-row>
						<fo:table-row>
							<fo:table-cell padding="2mm" border-width="0.5pt" border-style="solid" number-columns-spanned="4">
								<fo:block font-family="Noto Sans CJK KR Regular" font-size="9pt">
								#if($contents.conclusion != $null)
									#foreach($line in $contents.conclusion)
										<fo:block margin-top="1mm" font-family="Noto Sans CJK KR Regular" font-size="9pt"><![CDATA[$line]]></fo:block>
									#end
								#else
									<fo:block margin-top="1mm" font-family="Noto Sans CJK KR Regular" font-size="9pt"></fo:block>
								#end
								</fo:block>
							</fo:table-cell>
						</fo:table-row>
						<fo:table-row>
							<fo:table-cell padding="2mm" border-width="0pt" number-columns-spanned="4">
								<fo:block> </fo:block>
							</fo:table-cell>
						</fo:table-row>	
						<fo:table-row>
							<fo:table-cell padding="2mm" border-width="0" number-columns-spanned="4">
								<fo:block font-family="Noto Sans CJK KR Bold" font-size="11pt" font-weight="bold">Details, BRCA1</fo:block>
							</fo:table-cell>							
						</fo:table-row>
						<fo:table-row>
							<fo:table-cell border-width="0" number-columns-spanned="4">
								<fo:block margin-top="2mm">
									<fo:table display-align="center" border-width="0.5pt" border-style="solid" width="100%" table-layout="fixed">
										<fo:table-column column-width="20%"/>
										<fo:table-column column-width="20%"/>
										<fo:table-column column-width="20%"/>
										<fo:table-column column-width="15%"/>
										<fo:table-column column-width="10%"/>
										<fo:table-column column-width="15%"/>
										<fo:table-body>
											<fo:table-row>
												<fo:table-cell text-align="center" padding="2mm" border-width="0.5pt" border-style="solid">
													<fo:block font-family="Noto Sans CJK KR Regular" font-size="10pt">NT Change</fo:block>
													<fo:block font-family="Noto Sans CJK KR Regular" font-size="10pt">(BIC Format<fo:inline vertical-align="super" font-size="5pt">1</fo:inline>)</fo:block>
												</fo:table-cell>
												<fo:table-cell text-align="center" padding="2mm" border-width="0.5pt" border-style="solid">
													<fo:block font-family="Noto Sans CJK KR Regular" font-size="10pt">NT Change</fo:block>
													<fo:block font-family="Noto Sans CJK KR Regular" font-size="10pt">(HGVS Format<fo:inline vertical-align="super" font-size="5pt">2</fo:inline>)</fo:block>
												</fo:table-cell>
												<fo:table-cell text-align="center" padding="2mm" border-width="0.5pt" border-style="solid">
													<fo:block font-family="Noto Sans CJK KR Regular" font-size="10pt">AA Change<fo:inline vertical-align="super" font-size="5pt">3</fo:inline></fo:block>
												</fo:table-cell>
												<fo:table-cell text-align="center" padding="2mm" border-width="0.5pt" border-style="solid">
													<fo:block font-family="Noto Sans CJK KR Regular" font-size="10pt">
														#if($contents.sampleSource && $contents.sampleSource == "FFPE")
															VAF
														#else
															Zygosity
														#end
													</fo:block>
												</fo:table-cell>
												<fo:table-cell text-align="center" padding="2mm" border-width="0.5pt" border-style="solid">
													<fo:block font-family="Noto Sans CJK KR Regular" font-size="10pt">Type</fo:block>
												</fo:table-cell>
												<fo:table-cell text-align="center" padding="2mm" border-width="0.5pt" border-style="solid">
													<fo:block font-family="Noto Sans CJK KR Regular" font-size="10pt">Classification</fo:block>
												</fo:table-cell>
											</fo:table-row>
											#if($contents.isExistBRCA1 == "Y")
												#foreach($variant in $contents.variantList)
													#if($variant.snpInDel.genomicCoordinate.gene == "BRCA1")
														<fo:table-row>
															<fo:table-cell text-align="left" padding="2mm" border-width="0.5pt" border-style="solid">
																<fo:block font-family="Noto Sans CJK KR Regular" font-size="9pt"><![CDATA[$variant.snpInDel.ntChangeBRCA]]></fo:block>
															</fo:table-cell>
															<fo:table-cell text-align="left" padding="2mm" border-width="0.5pt" border-style="solid">
																<fo:block font-family="Noto Sans CJK KR Regular" font-size="9pt"><![CDATA[$variant.snpInDel.snpInDelExpression.ntChange]]></fo:block>
															</fo:table-cell>
															<fo:table-cell text-align="left" padding="2mm" border-width="0.5pt" border-style="solid">
																<fo:block font-family="Noto Sans CJK KR Regular" font-size="9pt"><![CDATA[$variant.snpInDel.snpInDelExpression.aaChange]]></fo:block>
															</fo:table-cell>
															<fo:table-cell text-align="left" padding="2mm" border-width="0.5pt" border-style="solid">
																<fo:block font-family="Noto Sans CJK KR Regular" font-size="9pt">
																	#if($contents.sampleSource && $contents.sampleSource == "FFPE")
																	$variant.snpInDel.readInfo.alleleFraction%
																	#else
																	<![CDATA[$variant.snpInDel.snpInDelExpression.zygosity]]>
																	#end
																</fo:block>
															</fo:table-cell>
															<fo:table-cell text-align="center" padding="2mm" border-width="0.5pt" border-style="solid">
																<fo:block font-family="Noto Sans CJK KR Regular" font-size="9pt"><![CDATA[$variant.snpInDel.snpInDelExpression.variantType]]></fo:block>
															</fo:table-cell>
															<fo:table-cell text-align="left" padding="2mm" border-width="0.5pt" border-style="solid">
																<fo:block font-family="Noto Sans CJK KR Regular" font-size="9pt">
																	#if($variant.snpInDel.expertPathogenicity)
																	<![CDATA[$variant.snpInDel.expertPathogenicity]]>
																	#else
																	<![CDATA[$variant.snpInDel.swPathogenicity]]>
																	#end
																</fo:block>
															</fo:table-cell>
														</fo:table-row>
													#end
												#end
											#else
												<fo:table-row  font-family="Noto Sans CJK KR Regular" font-size="9pt">
													<fo:table-cell padding="2mm" border-width="0.5pt" border-style="solid" >
														<fo:block></fo:block>
													</fo:table-cell>
													<fo:table-cell padding="2mm" border-width="0.5pt" border-style="solid" >
														<fo:block></fo:block>
													</fo:table-cell>
													<fo:table-cell padding="2mm" border-width="0.5pt" border-style="solid" >
														<fo:block></fo:block>
													</fo:table-cell>
													<fo:table-cell padding="2mm" border-width="0.5pt" border-style="solid" >
														<fo:block></fo:block>
													</fo:table-cell>
													<fo:table-cell padding="2mm" border-width="0.5pt" border-style="solid" >
														<fo:block></fo:block>
													</fo:table-cell>
													<fo:table-cell padding="2mm" border-width="0.5pt" border-style="solid" >
														<fo:block></fo:block>
													</fo:table-cell>
												</fo:table-row>
											#end											
										</fo:table-body>
									</fo:table>
								</fo:block>
							</fo:table-cell>
						</fo:table-row>
						<fo:table-row text-align="left" font-family="Noto Sans CJK KR Regular" font-size="6pt">
							<fo:table-cell padding="2mm" padding-left="5mm" border-width="0pt" number-columns-spanned="4">
								<fo:block padding="0.2mm">1. BIC Format (A of start codon ATG is #120): BRCA1(U14680)</fo:block>
								<fo:block padding="0.2mm">2. HGVS Format (A of start codon ATG is #1): BRCA1(NM_007294.3)</fo:block>
								<fo:block padding="0.2mm">3. Amino acid number (from aa #1 to #1863)</fo:block>
							</fo:table-cell>												
						</fo:table-row>
						<fo:table-row>
							<fo:table-cell padding="5mm" border-width="0pt" number-columns-spanned="4">
								<fo:block> </fo:block>
							</fo:table-cell>
						</fo:table-row>	
						<fo:table-row>
							<fo:table-cell padding="2mm" border-width="0" number-columns-spanned="4">
								<fo:block font-family="Noto Sans CJK KR Bold" font-size="11pt" font-weight="bold">Details, BRCA2</fo:block>
							</fo:table-cell>							
						</fo:table-row>
						<fo:table-row>
							<fo:table-cell border-width="0" number-columns-spanned="4">
								<fo:block margin-top="2mm">
									<fo:table display-align="center" border-width="0.5pt" border-style="solid" width="100%" table-layout="fixed">
										<fo:table-column column-width="20%"/>
										<fo:table-column column-width="20%"/>
										<fo:table-column column-width="20%"/>
										<fo:table-column column-width="15%"/>
										<fo:table-column column-width="10%"/>
										<fo:table-column column-width="15%"/>
										<fo:table-body>
											<fo:table-row>
												<fo:table-cell text-align="center" padding="2mm" border-width="0.5pt" border-style="solid">
													<fo:block font-family="Noto Sans CJK KR Regular" font-size="10pt">NT Change</fo:block>
													<fo:block font-family="Noto Sans CJK KR Regular" font-size="10pt">(BIC Format<fo:inline vertical-align="super" font-size="5pt">1</fo:inline>)</fo:block>
												</fo:table-cell>
												<fo:table-cell text-align="center" padding="2mm" border-width="0.5pt" border-style="solid">
													<fo:block font-family="Noto Sans CJK KR Regular" font-size="10pt">NT Change</fo:block>
													<fo:block font-family="Noto Sans CJK KR Regular" font-size="10pt">(HGVS Format<fo:inline vertical-align="super" font-size="5pt">2</fo:inline>)</fo:block>
												</fo:table-cell>
												<fo:table-cell text-align="center" padding="2mm" border-width="0.5pt" border-style="solid">
													<fo:block font-family="Noto Sans CJK KR Regular" font-size="10pt">AA Change<fo:inline vertical-align="super" font-size="5pt">3</fo:inline></fo:block>
												</fo:table-cell>
												<fo:table-cell text-align="center" padding="2mm" border-width="0.5pt" border-style="solid">
													<fo:block font-family="Noto Sans CJK KR Regular" font-size="10pt">
														#if($contents.sampleSource && $contents.sampleSource == "FFPE")
														VAF
														#else
														Zygosity
														#end
													</fo:block>
												</fo:table-cell>
												<fo:table-cell text-align="center" padding="2mm" border-width="0.5pt" border-style="solid">
													<fo:block font-family="Noto Sans CJK KR Regular" font-size="10pt">Type</fo:block>
												</fo:table-cell>
												<fo:table-cell text-align="center" padding="2mm" border-width="0.5pt" border-style="solid">
													<fo:block font-family="Noto Sans CJK KR Regular" font-size="10pt">Classification</fo:block>
												</fo:table-cell>
											</fo:table-row>
											#if($contents.isExistBRCA2 == "Y")
												#foreach($variant in $contents.variantList)
													#if($variant.snpInDel.genomicCoordinate.gene == "BRCA2")
														<fo:table-row>
															<fo:table-cell text-align="left" padding="2mm" border-width="0.5pt" border-style="solid">
																<fo:block font-family="Noto Sans CJK KR Regular" font-size="9pt"><![CDATA[$variant.snpInDel.ntChangeBRCA]]></fo:block>
															</fo:table-cell>
															<fo:table-cell text-align="left" padding="2mm" border-width="0.5pt" border-style="solid">
																<fo:block font-family="Noto Sans CJK KR Regular" font-size="9pt"><![CDATA[$variant.snpInDel.snpInDelExpression.ntChange]]></fo:block>
															</fo:table-cell>
															<fo:table-cell text-align="left" padding="2mm" border-width="0.5pt" border-style="solid">
																<fo:block font-family="Noto Sans CJK KR Regular" font-size="9pt"><![CDATA[$variant.snpInDel.snpInDelExpression.aaChange]]></fo:block>
															</fo:table-cell>
															<fo:table-cell text-align="left" padding="2mm" border-width="0.5pt" border-style="solid">
																<fo:block font-family="Noto Sans CJK KR Regular" font-size="9pt">
																	#if($contents.sampleSource && $contents.sampleSource == "FFPE")
																		$variant.snpInDel.readInfo.alleleFraction%
																	#else
																		<![CDATA[$variant.snpInDel.snpInDelExpression.zygosity]]>
																	#end
																</fo:block>
															</fo:table-cell>
															<fo:table-cell text-align="center" padding="2mm" border-width="0.5pt" border-style="solid">
																<fo:block font-family="Noto Sans CJK KR Regular" font-size="9pt"><![CDATA[$variant.snpInDel.snpInDelExpression.variantType]]></fo:block>
															</fo:table-cell>
															<fo:table-cell text-align="left" padding="2mm" border-width="0.5pt" border-style="solid">
																<fo:block font-family="Noto Sans CJK KR Regular" font-size="9pt">
																	#if($variant.snpInDel.expertPathogenicity)
																	<![CDATA[$variant.snpInDel.expertPathogenicity]]>
																	#else
																	<![CDATA[$variant.snpInDel.swPathogenicity]]>
																	#end
																</fo:block>
															</fo:table-cell>
														</fo:table-row>
													#end
												#end
											#else
												<fo:table-row  font-family="Noto Sans CJK KR Regular" font-size="9pt">
													<fo:table-cell padding="2mm" border-width="0.5pt" border-style="solid" >
														<fo:block></fo:block>
													</fo:table-cell>
													<fo:table-cell padding="2mm" border-width="0.5pt" border-style="solid" >
														<fo:block></fo:block>
													</fo:table-cell>
													<fo:table-cell padding="2mm" border-width="0.5pt" border-style="solid" >
														<fo:block></fo:block>
													</fo:table-cell>
													<fo:table-cell padding="2mm" border-width="0.5pt" border-style="solid" >
														<fo:block></fo:block>
													</fo:table-cell>
													<fo:table-cell padding="2mm" border-width="0.5pt" border-style="solid" >
														<fo:block></fo:block>
													</fo:table-cell>
													<fo:table-cell padding="2mm" border-width="0.5pt" border-style="solid" >
														<fo:block></fo:block>
													</fo:table-cell>
												</fo:table-row>
											#end											
										</fo:table-body>
									</fo:table>
								</fo:block>
							</fo:table-cell>
						</fo:table-row>
						<fo:table-row text-align="left" font-family="Noto Sans CJK KR Regular" font-size="6pt">
							<fo:table-cell padding="2mm" padding-left="5mm" border-width="0pt" number-columns-spanned="4">
								<fo:block padding="0.2mm">1. BIC Format (A of start codon ATG is #229): BRCA2(U43746)</fo:block>
								<fo:block padding="0.2mm">2. HGVS Format (A of start codon ATG is #1): BRCA2(NM_000059.3)</fo:block>
								<fo:block padding="0.2mm">3. Amino acid number (from aa #1 to #3419)</fo:block>
							</fo:table-cell>												
						</fo:table-row>
						<fo:table-row>
							<fo:table-cell padding="2mm" border-width="0pt" number-columns-spanned="4">
								<fo:block> </fo:block>
							</fo:table-cell>
						</fo:table-row>
						<fo:table-row>
							<fo:table-cell padding="2mm" border-width="0" number-columns-spanned="4">
								<fo:block font-family="Noto Sans CJK KR Bold" font-size="11pt" font-weight="bold">Details, CNV</fo:block>
							</fo:table-cell>
						</fo:table-row>
						<fo:table-row>
							<fo:table-cell padding="2mm" border-width="0pt" number-columns-spanned="4">
								<fo:block> </fo:block>
							</fo:table-cell>
						</fo:table-row>
						<fo:table-row>
							<fo:table-cell padding="2mm" border-width="0" number-columns-spanned="4">
								<fo:block font-family="Noto Sans CJK KR Bold" font-size="11pt" font-weight="bold">Test Information</fo:block>
							</fo:table-cell>
						</fo:table-row>
						<fo:table-row>
							<fo:table-cell border-width="0.5pt" font-family="Noto Sans CJK KR Regular" font-size="9pt" number-columns-spanned="4" >
								<fo:block padding="1mm"  font-size="10pt">1. Specimen: $contents.sampleSource</fo:block>
								<fo:block padding="1mm" font-size="10pt">2. Clinical information</fo:block>
								<fo:block padding="1mm" font-size="10pt">3. Test method</fo:block>
								<fo:block padding="1mm" margin-left="3mm">1) BRCA1</fo:block>
								<fo:block padding="1mm" margin-left="5mm">i. BRCA1 Sequencing: NGS(Next Generation Sequencing), exon 1-3, 5-24</fo:block>
								<fo:block padding="1mm" margin-left="5mm">ii. Nucleotide(NT) numbering: U14680</fo:block>
								<fo:block padding="1mm" margin-left="5mm">iii. Codon numbering: Initiation codon ATG is codon 1.</fo:block>
								<fo:block padding="1mm" margin-left="5mm">iv. Reference sequence: NC_000017.9, NM_007294.3</fo:block>
								<fo:block padding="1mm" margin-left="5mm">v. Default mutation database: http://research.nhgri.nih.gov/bic/</fo:block>
								<fo:block padding="1mm" margin-left="3mm">1) BRCA2</fo:block>
								<fo:block padding="1mm" margin-left="5mm">i. BRCA2 Sequencing: NGS(Next Generation Sequencing), exon 1-27</fo:block>
								<fo:block padding="1mm" margin-left="5mm">ii. Nucleotide(NT) numbering: U43746</fo:block>
								<fo:block padding="1mm" margin-left="5mm">iii. Codon numbering: Initiation codon ATG is codon 1.</fo:block>
								<fo:block padding="1mm" margin-left="5mm">iv. Reference sequence: NC_000013.9, NM_000059.3</fo:block>
								<fo:block padding="1mm" margin-left="5mm">v. Default mutation database: http://research.nhgri.nih.gov/bic/</fo:block>
								<fo:block padding="1mm" font-size="10pt">4. Test summary</fo:block>
								<fo:block padding="1mm" margin-left="3mm">1) Gene</fo:block>
								<fo:block padding="1mm" margin-left="5mm">i. BRCA1 [breast cancer 1, early onset; 17q21; GeneID: 672]</fo:block>
								<fo:block padding="1mm" margin-left="5mm">ii. BRCA2 [breast cancer 2, early onset; 13q12.3; GeneID: 675]</fo:block>
								<fo:block padding="1mm" margin-left="3mm">2) Molecular Diagnostic Test: Sequencing BRCA1/2 whole exons.</fo:block>
								<fo:block padding="1mm" margin-left="3mm">3) Related diseases: hereditary breast cancer, ovarian cancer, etc.</fo:block>
								<fo:block padding="1mm" margin-left="3mm">4) Background and significance</fo:block>
								<fo:block padding="1mm" margin-left="5mm">i. 15 - 20% of breast cancer patients with family history and 5% of entire breast cancer patients are estimated to be caused by mutation in BRCA1 or BRCA2 gene.</fo:block>
								<fo:block padding="1mm" margin-left="5mm">ii. Person with a mutation in either the BRCA1 or BRCA2 gene has risks of 60 – 80% for developing breast cancer and 20 – 40% for developing ovarian cancer.</fo:block>
								<fo:block padding="1mm" margin-left="5mm">iii. Therefore, BRCA1/2 genetic testing results enable the effective medical management and breast/ovarian cancer prevention plan for the person with genetic risk</fo:block>
							</fo:table-cell>
						</fo:table-row>
						#if($qcResult == "WARNAAA")
						<fo:table-row>
							<fo:table-cell border-width="0.5pt" text-align="center" font-family="Noto Sans CJK KR Regular" font-size="9pt" number-columns-spanned="4" >
								<fo:block padding="1mm" font-size="10pt" margin-top="10mm">warning</fo:block>
							</fo:table-cell>
						</fo:table-row>
						#end
						<fo:table-row>
							<fo:table-cell border-width="0" number-columns-spanned="4" padding-left="5mm" padding-right="5mm">
								<fo:block margin-top="10mm">
									<fo:table display-align="center" border-width="0.5pt" border-style="solid" width="100%" table-layout="fixed">
										<fo:table-column column-width="20%"/>
										<fo:table-column column-width="30%"/>
										<fo:table-column column-width="20%"/>
										<fo:table-column column-width="30%"/>
										<fo:table-body>
											<fo:table-row font-weight="bold">
												<fo:table-cell padding="2mm" border-width="0.5pt" border-style="solid">
													<fo:block font-family="Noto Sans CJK KR Regular" font-size="10pt">Lab</fo:block>
												</fo:table-cell>
												<fo:table-cell padding="2mm" border-width="0.5pt" border-style="solid">
													<fo:block font-family="Noto Sans CJK KR Regular" font-size="9pt" >$contents.inspectorOrganization</fo:block>
												</fo:table-cell>
												<fo:table-cell padding="2mm" border-width="0.5pt" border-style="solid">
													<fo:block font-family="Noto Sans CJK KR Regular" font-size="10pt">Report Date</fo:block>
												</fo:table-cell>
												<fo:table-cell padding="2mm" border-width="0.5pt" border-style="solid">
													<fo:block font-family="Noto Sans CJK KR Regular" font-size="9pt" >${contents.reportingDate}</fo:block>
												</fo:table-cell>
											</fo:table-row>
											<fo:table-row font-weight="bold">
												<fo:table-cell padding="2mm" border-width="0.5pt" border-style="solid">
													<fo:block font-family="Noto Sans CJK KR Regular" font-size="10pt">Lab Director</fo:block>
												</fo:table-cell>
												<fo:table-cell padding="2mm" border-width="0.5pt" border-style="solid">
													<fo:block font-family="Noto Sans CJK KR Regular" font-size="9pt" >$contents.inspectorName</fo:block>
												</fo:table-cell>
												<fo:table-cell padding="2mm" border-width="0.5pt" border-style="solid">
													<fo:block font-family="Noto Sans CJK KR Regular" font-size="10pt">Contact</fo:block>
												</fo:table-cell>
												<fo:table-cell padding="2mm" border-width="0.5pt" border-style="solid">
													<fo:block font-family="Noto Sans CJK KR Regular" font-size="9pt" >#if($contents.inspectorContact)$contents.inspectorContact #end</fo:block>
												</fo:table-cell>
											</fo:table-row>
										</fo:table-body>
									</fo:table>
								</fo:block>
							</fo:table-cell>
						</fo:table-row>
					</fo:table-body>
				</fo:table>
			</fo:block>
			<fo:block id="lastPage"> </fo:block>
		</fo:flow>
		<!-- End Contents Area -->

	</fo:page-sequence>
</fo:root>